[2019-08-05 08:45] AndyYouens commented on #664
Not being able to test the headers in the sandbox is a right PITA!  Having to send them by email to get validated takes days/weeks to get any sort of reply.

Half the headers have nothing to do with security.  A better way of testing these headers is urgently needed if HMRC expects us to implement them.

[2019-08-05 10:11] mtd-api-team commented on #664
Hi

Please could we invite you to use this issue https://github.com/hmrc/vat-api/issues/565 which has been left open for discussions relating to fraud prevention headers.

Thanks

[2019-08-05 10:11] #664 closed

[2019-08-05 10:15] mtd-api-team commented on #660
Hi @heythisiskishore

Can you confirm if this is happening in the Sandbox or in Production?

My understanding is that the response in Sandbox is randomised and shows the response variations you may see in Production.

Regards

[2019-08-05 10:22] mtd-api-team commented on #663
Hi Alex

Apologies for the issues you are experiencing. As you have guessed, we are unable to provide any further assistance with this and can only advise you to contact SDST.

In case anyone is not aware, we can only provide help with using the VAT API and cannot access any of the data being held on backend systems.

I'll close this issue now, but please comment if you need any technical assistan

[2019-08-05 10:22] #663 closed

[2019-08-05 10:48] mtd-api-team commented on #661
Hi sonicmule

Unfortunately we can only advise vendors to ensure clients are fully enrolled for mtd-vat before attempting to use the VAT API.

[2019-08-05 13:03] #608 closed

[2019-08-06 17:07] KenRandall commented on #552
I am having the same problem with agents. Does removing the hello scope have any problems with non-agents?

[2019-08-06 17:10] theshillito commented on #552
I don't think so. It just means you have to find an alternative scope to do whatever the hello scope was doing for you. In my case I'm having to change when calls to the VAT API are made so I can refresh the tokens rather than rely on the hello user API to check if it needs refreshing.

[2019-08-06 17:18] KenRandall commented on #552
Thanks Peter. I'll try that.

[2019-08-07 11:10] KenRandall commented on #662
It would also be nice for a list of live bugs to be published somewhere with an indication of when they will be fixed!

[2019-08-07 12:23] heythisiskishore commented on #660
Thanks for your response

This is happening in the sandbox only.

Could you please assure that we are going in correct direction as in sandbox it is not clear as you have stated in your previous email?

[2019-08-08 10:21] TCardinal commented on #216
It would be very useful to be able to retrieve the response data for a submission - receipt id, form bundle, even maybe the correlation id at some point after the submission.

[2019-08-08 13:02] mtd-api-team commented on #660
Hi @heythisiskishore

I have doubled checked the code in the Sandbox environment and I can confirm the field `paymentIndicator` is randomised and `chargeRefNumber` will only be returned in the case of 'Direct Debit'.

Sorry for the confusion

[2019-08-08 17:53] EwanReid commented on #565
Got an email from the SDS team stating that I am not submitting any fraud headers at all. Despite the fact they are sent the exact same way as the authentication headers. And my logs prove they are being sent.

The only one that was not fully implemented and wasn't being sent up was the Device-id.

I apparently have a month to fix this, before they check their logs again.
I asked for clarification

[2019-08-09 08:20] #660 closed

[2019-08-09 17:42] dronya commented on #586
Hi All,
I have a client with same problem. They send vat submit and recieve bundle_number, status ok and etc. But this doesn't appear in HMRC site: The obligation is still open.
Guys, how did you resolve this SDSTeam helped you or MTD VAT helpline support?

[2019-08-09 19:11] sparkz42 commented on #586
@dronya, does your client have a numeric PeriodKey and are you getting 404 - NOT_FOUND when checking on the obligation status?

The issue I had affected some clients with numeric PeriodKeys. It seems these users have their data (all or some) stored on a different location at HMRC for some reason. After successfully submitting a return, subsequent checks on the obligation just got a 404. It was an

[2019-08-09 19:23] dronya commented on #586
@sparkz42 my users do have numeric periodkey. After submission they can query the obligation using get vat apis for entering start date and end date not 404. But I will ask to do it again on Monday.
I also noticed that they were signed off for MTD after the reporting period was ended.

[2019-08-19 14:07] AndyYouens opened #665 "API Status"
Does anyone know of where I can pick up the status of the VAT API - Currently shown as down at https://www.gov.uk/government/publications/making-tax-digital-for-vat-service-availability-and-issues/making-tax-digital-for-vat-service-availability-and-issues

This will allow us to show the API status on our application.

Thanks for your help.

[2019-08-19 15:02] JeeBeePee commented on #665
You can't. It has been requested a few times but we've heard nothing from HMRC so far.

We used to include a link to the service status page in our app, but that proved to be a double edged sword, as quite often there'll be a service issue but the status page will report that everything is fine.

[2019-08-19 15:18] JeeBeePee commented on #665
Case in point - just had an email from a customer who I'd previously advised that MTD VAT would be down until 4pm. After 2 days of downtime (a business that planned that would haemorrhage customers) it's not back up on time. Service status page says everything is fine!

[2019-09-03 11:08] anikrooz opened #668 "User with numeric periodKeys cannot view or submit returns"
I have a user whose obligations look like:
[code]
Requesting a sigle return (/organisations/vat/318009xxx/returns/0419) gives
[code]

And trying to submit gives the error
[code]

Here's what I'm POSTing to the /organisations/vat/318009xxx/returns endpoint:
[code]

Is there something more I need to do with this '0719' string? Tried it with a # but that didn't help.

Thanks

[2019-09-03 12:15] anikrooz commented on #668
As per usual I found the source and it was my fault...
`$curl_options[CURLOPT_POSTFIELDS] = json_encode($parameters, JSON_NUMERIC_CHECK | JSON_PRESERVE_ZERO_FRACTION );`
That JSON_NUMERIC_CHECK of course turned the periodKey into a number.

[2019-09-03 12:15] #668 closed

[2019-09-03 12:16] anikrooz commented on #668
That doesn't fix the 404 on trying to request a single return, but it's possible there's no data for that

[2019-09-03 15:42] maxigit commented on #477
I stumble the same problem today. It is indeed clear on the VAT guidance instructions, but it is not clear at all on the API documentation stating

In fact, in is more than not clear, it is contradicting the VAT guidance telling to take the absolute value.
I think is should be clearly stated in the API, otherwise, as it is can be seen as a corner case, people will just discover the bug live in pro

[2019-09-03 18:32] jasonab opened #669 "Automating user generation and login"
Has anyone managed to automate the OAuth login process, such that I can use the User API to create a new test user, then log that user in programmatically and submit a VAT return for that user?

I would like to be able to write an automated test that validates my submission API, but it appears that the OAuth screens require Javascript to get past the first button, which a test would not have witho

[2019-09-06 16:47] dawnvf opened #670 "PERIOD_KEY_INVALID when submitting VAT return"
I have recently had two MTD submissions fail for two different clients with the error PERIOD_KEY_INVALID period key should be a 4 character string.  I am able to view the VAT obligations successfully but not submit the VAT return.

[2019-09-06 18:32] GrahamHDawson commented on #670
What period key value are you using when submitting the return?
The idea is you retrieve the outstanding obligation and use the period key value returned in the response to submit the return.

[2019-09-07 04:37] heythisiskishore commented on #458
Sorry James for the Late reply.

I am facing the same issue again in the Sandbox environment.

[2019-09-07 11:19] heythisiskishore commented on #531
Dear Team,

Sorry to say this. We are not satisfied with the response what you have given.

Looking forward to the above query.

In addition to this we also need to get clear information about the 'Gov-Client-Multi-Factor' also.

Awaiting for your reply.

[2019-09-09 10:38] heythisiskishore commented on #446
Getting the same issue, not resolved up to now.

[2019-09-10 09:20] heythisiskishore commented on #521
Hi there,

Thanks for your response!

Could you please clarify what details we need to send to HMRC for below three headers.

1. Gov-Vendor-License-IDs
2. Gov-Client-Multi-Factor
3. Gov-Vendor-Forwarded

In HMRC documentation it is not clear what details to be included in the header.

Awaiting your response!

[2019-09-10 09:20] heythisiskishore commented on #531
Hi there,

Thanks for your response!

Could anyone please clarify on what details we need to send to HMRC for below two headers.

1. Gov-Vendor-License-IDs
2. Gov-Client-Multi-Factor
3. Gov-Vendor-Forwarded

In HMRC documentation it is not clear what details to be included in the header.

Awaiting your response!

[2019-09-10 09:20] heythisiskishore commented on #660
Hi MTD API Team,

We need confirmation that in a Production environment we will get the Payment Indicator as DD and Charge Reference number in case the :

1. Payment indicator: Is DD if the netVatDue value is a debit and HMRC holds a Direct Debit Instruction for the client.

2. Charge Reference Number: The charge reference number is returned, only if the netVatDue value is a debit.

What if the Ne

[2019-09-10 14:03] mtd-api-team commented on #660
Hi @heythisiskishore

In regards to 1 and 2 yes, I can confirm those are the case.

For your other query no paymentIndicator value will be returned if netVatDue is a debit and we do not hold a current DD instruction.

Regards

[2019-09-12 07:27] AndyYouens opened #671 "Gov-Client-Browser-Plugins"
Morning all

any node.js developers out there had any luck getting correct values for the security header Gov-Client-Browser-Plugins?

TIA
Cheers
Andy

[2019-10-01 05:56] hamzaayz commented on #89
Hi,
anyone, please help im getting service unavailable when im trying to submit vat return using the following
https://test-api.service.hmrc.gov.uk/organisations/vat/517587125/returns
{
    "code": "SERVER_ERROR",
    "message": "Service unavailable"
}
heres my json
{
  "periodKey": "A001",
  "vatDueSales": 105.50,
  "vatDueAcquisitions": -100.45,
  "totalVatDue": 5.05,
  "vatReclaimedCurrPeriod":

[2019-10-01 09:10] mtd-api-team commented on #89
Hello,

Your payload looks ok so could you provide the request headers you are submitting for content-type and accept? We may need that information to figure out what we are seeing on our end.

Regards

[2019-10-01 10:29] dawnvf commented on #670
This was caused by a user who instead of setting himself up as an agent continually re-authorises the software with different government gateway credentials so the software tried to pick up the period key for the previous client whose credentials he had entered.  There is no outstanding problem now

[2019-10-01 10:29] #670 closed

[2019-10-01 10:50] hamzaayz commented on #89
thanks a lot, it's working for me now.
regards
Hamza Ayaz

On Tue, Oct 1, 2019 at 2:11 PM MTD API Team <notifications@github.com>
wrote:

[2019-10-02 10:09] robertsmccann commented on #527
I've just come to the same conclusion having read this:

"The API Platform does not support cross-origin resource sharing (CORS) (opens in a new tab)link opens in a new window. It is therefore not possible to call our APIs from client-side code within a web browser, for example using Ajax"
(Source:  https://developer.service.hmrc.gov.uk/api-documentation/docs/reference-guide).

I guess I'll have a

[2019-10-04 00:53] peterBowenCC opened #672 "Retrieve formBundle and chargeRef if there is a network failure"
I'm not sure where this falls, so here goes:

We are concerned that there is no way to get the formBundleNumber and the chargeRefNumber if there is a data failure after the return is processed, but before we get the response.  I know that this is an edge case, but since it is a financial transaction, and the user needs a record of the submission for any correspondence, what is the process to be ab

[2019-10-05 16:08] GrahamHDawson commented on #672
Hi Peter,
This has been raised before without a satisfactory resolution see issue #362

We really should get those extra details back from the View VAT Return endpoint.

[2019-10-07 12:32] AndyYouens commented on #671
For the record we used an Ajax call to retrieve these details.  Contact me if you need more details.

Cheers

[2019-10-08 09:14] rick1c opened #674 "User names"
Do any of the tokens contain user information such as a user name?
I am writing a client in .NET, and have successfully called the 'obligations' end point, but all I have is an access token which can be used for requests, but have no other information about the user, so can't even display their user name when they have successfully logged in.

[2019-10-09 10:15] kingstonrk commented on #674
No, you can't get anything like that back from HMRC.  Has the user not signed into your own application first though?

[2019-10-09 20:39] rajitha0007 commented on #674
the tokens ( access and refresh) are generated for the combination of HMRC Dev hub client ID, Secret, VRN of the firm and HMRC gateway account credentials.
We stored the received tokens against VRN and the login user of the local system

[2019-10-09 20:41] GrahamHDawson opened #675 "How does Developer Account 2 Step Verification work?"
It seems 2SV is to be mandatory from 15th October - but currently there's no information on the HMRC website as to exactly how this works and what the recovery methods are (if any)

There's a closed issue that suggests this is done via a QR code - and if your mobile dies you're in trouble - see

https://github.com/hmrc/vat-api/issues/657

Yes I know this is strictly outside the scope of the Issues

[2019-10-09 21:36] rick1c commented on #674
Do you store the tokens in a cookie?  Just trying to figure out how to do the AddAuthentication in my .NET Core application

[2019-10-10 08:32] cb-rfk commented on #675
Yes, I had some of the same queries!

Set up is quite easy - install e.g. Duo app and just follow onscreen directions.

However there don't seem to be any reset options or one-time passwords available. (These are useful if the primary account holder is out of the office and a colleague needs to log in on your behalf... )

Logged a call via the support page of the website asking for further info so

[2019-10-10 10:45] cb-rfk commented on #675
Hi Graham,

Your point is well taken and I agree you shouldn't have to have a smart phone if you don't want one.

However, it does seem to be the way the whole authorisation market is going, as, apparently, it is too easy to intercept/spoof SMS messages.

App based authentication is now mandatory on at least 3 or 4 of the 3rd party tools we use, and we are a very small team!

Richard

[2019-10-14 18:55] GrahamHDawson commented on #675
Well I've had to setup other people as Administrators for our applications as it seems the only 2-SV option is via Google Authenticator with a smartphone (I've been re-added as a Developer)

What will happen when **everyone** has to use 2-SV is anyone's guess.
Crazy, just crazy.

[2019-10-15 12:48] GrahamHDawson opened #678 "UK VAT Number lookup API where's the documentation?"
From an SDSTeam email this morning...

The Check a UK VAT Number API is now published on the HMRC Developer Hub and available for sandbox testing.

The API enables your application to:

?	Check if a UK VAT number is currently valid
?	View the name and address of the business associated with the VAT number, if the number is currently valid
?	Get a reference number that you can use to prove you chec

[2019-10-15 20:48] GrahamHDawson commented on #678
Apparently this is Beta (unlike the MTD VAT API which is...) and so only available if you register with the SDSTeam.
Weird given that **if** it needs to be used it could be as early as 1st November.

[2019-10-15 20:48] #678 closed

[2019-10-16 17:08] GrahamHDawson commented on #675
Received email response from SDSTeam basically saying 2-SV is a standard process and if I want to know **exactly** how it works I should Google.

[2019-10-16 17:08] #675 closed

[2019-10-16 20:43] TS-grantlebrun commented on #675
The 2SV will be based on the "Time-Based One-Time Password Algorithm" See https://tools.ietf.org/html/rfc6238

The QR code contains the per-user secret used by the algorithm (with the current time) to generate the OTP. See https://github.com/google/google-authenticator/wiki/Key-Uri-Format

There's no reason this *has* to be used on a mobile phone, I'm sure you could save the secret into a suitable

[2019-10-29 11:41] AndyYouens opened #680 "Production Login Errors"
anyone having login problems in production this morning?

getting the following error;

{"name":"Error","status":401,"message":"Unauthorized","context":{"error":"invalid_client","error_description":"invalid client id or secret"}}

Both client ID & secret are correct.

[2019-10-29 12:49] adamkecskes commented on #680
@AndyYouens we're having the same issue. The test environment works fine, but the prod responses this all the time.
In the past few days we got the 'code is invalid' error response, but today we're getting 'invalid client id or secret'

[2019-10-29 13:10] AndyYouens commented on #680
Thanks for the update @adamkecskes

[2019-10-30 08:44] AndyYouens commented on #680
Any response HMRC?  This is a production problem but nothing heard.

As @adamkecskes says - this is not a problem in development.

[2019-10-30 09:35] mtd-api-team commented on #680
Hi @AndyYouens

As a reminder this channel is for technical questions related to the vat-api. And unfortunately we are unable to assist with Auth related issues.

Judging by the error "invalid client id or secret" I'm guessing this is the oauth request to retrieve an access (bearer) token? I would encourage you to contact SDST SDSTeam@hmrc.gov.uk who will be able to help in this case.

Regards

[2019-10-30 09:41] AndyYouens commented on #680
@mtd-api-team

Yes, I have contacted them & we all know how long they take to respond :-(

Not good enough for production problems!

[2019-10-30 10:04] mtd-api-team commented on #680
Hi @AndyYouens

We are aware of a similar issue when sending the `Authorization` header to the `/oauth/token` endpoint. This header should not be included.

Let us know if this resolves your issues.

Regards

[2019-10-30 10:14] adamkecskes commented on #680
@mtd-api-team no, I've tried to remove the `Authorization` header from that request, but I received the same response.
How is it possible that the `Authorization` header is a problem on production, but not on test environment?

[2019-10-30 12:18] daveincov opened #681 "INVALID-DATE-TO"
# Support request

Hi I’ve had a client ring this morning trying to file there VAT return for the quarter up to September but get the following message “INVALID_DATE_TO” when trying to retrieve the VAT obligation. I cannot see anything wrong and the date is formatted correctly 2019-09-30, other clients have had no problems up to now and not sure what the problem is?
Can you help as this requires u

[2019-10-30 12:20] kolonuk opened #682 "2 issues with viewing submitted returns"
# Bug report

- [ ] Documentation
- [X] API

**Describe the bug**
2 issues in one:
* Requesting to view the data from periods that haven't a return submitted sends blank 404 response.
* Every 2nd request to view a return submission (regardless whether it's been submitted or not) returns 400 html response:

[code]

(This is in the production environment, I haven't checked the test environment)

**T

[2019-10-30 12:26] AndyYouens commented on #680
@mtd-api-team

I will test your theory.  Surely the error message should reflect something a bit more meaningful.

invalid client id or secret ??

This works in the sandbox!

As all the developers have stated on many occassions, why cant the sandbox operate the same as the production environment??

We should not be testing in production, but that is the only way we can test our software - all very

[2019-10-30 12:59] mtd-api-team commented on #681
@daveincov you will only get that error message in the following two cases:
- the 'to' date has been supplied but it is in an invalid format
- a valid 'from' date has been supplied but the 'to' date has not

The format of the date above is correct, so can you confirm that both dates are supplied?

[2019-10-30 13:13] daveincov commented on #681
Thanks for the prompt reply, both dates supplied, and as I say has worked fine on previous returns. The from date was 30/06/2019 formatted to 2019-06-30.

[2019-10-30 13:22] mtd-api-team commented on #680
@AndyYouens as mentioned, we don't look after authorisation to interact with HMRC APIs, we look after the technical elements of the VAT API.

The explanations for the error messages you are receiving can be found here: https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/user-restricted-endpoints

As you know we try and be as helpful as we can where possible.  This time, if y

[2019-10-30 13:43] mtd-api-team commented on #681
I think I can see your requests in the logs, can you check that the url is encoded correctly?

It looks like for some requests the ampersands are appearing like this :point_right: `from=2019-06-30&amp;to=2019-09-30&amp;status=O`

[2019-10-30 14:14] daveincov commented on #681
When gettting the VAT obligation the ampersands are encoded as &amp; in the URL, are you saying it needs to change to not be encoded? IE from=2019-06-30&to=2091-09-30&status=O Confusing as its been this way for just under a year and worked.

[2019-10-30 14:43] mtd-api-team commented on #682
Hi @kolonuk :wave:

I'm just trying to pick apart some of the information here.  Are you requesting submission data for periods that haven't been submitted against?  In this case, there will be no data on record in HMRC so the response is a correct one.

You are correct in that the 404 in this case would be better with a body and the `NOT_FOUND` error code.  This is a known behaviour, but as the A

[2019-10-31 10:52] daveincov commented on #681
Further testing in the sandbox reveals the problem relates only with the ampersands for the to date, &status=O and &amp;status=O both work.
I need to know whether or not I should be updating our software from &amp; to just & as right now our clients will not be able to submit a return and why this has changed within the last two weeks.

[2019-10-31 11:17] AndyYouens commented on #680
any joy your end @adamkecskes ?

[2019-10-31 12:09] mtd-api-team commented on #681
Yes. You should always be using a plain `&` as the query parameter separator when you make an API call.

Some of the API platform infrastructure is in the process of changing, with some traffic load balanced, which may explain intermittent failures.

[2019-10-31 12:14] adamkecskes commented on #680
It seems there is @AndyYouens ! :)
Our `/oauth/token` requests were sent with `Contenty-Type: application/x-www-form-urlencoded`.
When we modified our content to JSON, and removed the `Authorization` header, the endpoint stareted responding correctly.
It's still a mystery why their TEST endpoint accepts both JSON and urlencoded formats while their LIVE doesn't.

[2019-11-01 11:56] AndyYouens commented on #680
We still have a problem.  Works fine in test but not in production.

Neither environments are sending the authorization header & the content-type is application/json

Waiting on a reply for SDST :-(

[2019-11-02 06:50] heythisiskishore opened #683 "Can I Submit all the VAT 9 Boxes data as zero"
Dear Team,

Can I Submit all the VAT 9 Boxes data as zero in the VAT Returns.

[2019-11-05 09:41] GrahamHDawson commented on #683
Works in the sandbox - so **should** be OK in production (although none of **our** users have submitted such a return)

[2019-11-05 13:55] PJR-slo opened #684 "Error 503 - Service Unavailable"
- [Y ] API

When attempting to submit a VAT return, Error 503 - Service Unavailable is returned precisely 1 minute after the POST command, both in the live and sandbox environments.

All other functions (retrieve obligations, liabilities, payments and VAT returns) work as expected.

This was first reported to me by clients on Friday, 1st November 2019.  They have previously used the same software

[2019-11-06 13:19] mtd-api-team commented on #684
Hi @PJR-slo :wave:

We can see your requests and have raised the issue with the team responsible for access to the HMRC API platform.  We don't have an answer yet, but are looking into the problems you are having.

 We will keep you updated.

[2019-11-06 16:04] nigelrainer commented on #684
We also have clients getting service unavailable and internal server errors on obligations requests.

We have raised it with SDST.

[2019-11-06 16:19] PJR-slo commented on #684
@nigelrainer This could be something to do with invalid or malformed headers.

A 503 (server unavailable) error can be generated because the VAT-API is transforming a different error (i.e. 415) into a 503.

Error 415 (which I cannot find being documented anywhere) is actually "Unsupported Media Type" and can refer to the "Content-Type=" header not being present or malformed.

Of course, it can als

[2019-11-07 11:35] PJR-slo commented on #684
We have now solved our issue, but there are faults that remain in the VAT-API, the documentation and also in the procedures for making changes to the VAT-API and therefore I will leave this fault report OPEN for now.

Whilst submitting a VAT return (and only submitting), our software contained a malformed header:

Content-Type: application/json; charset=utf-8, application/json

This header worked

[2019-11-07 11:49] nigelrainer commented on #684
We have checked our headers and they are all fine, so I do not believe this matter is limited to the headers raised above - so this definitely needs to be kept open and monitored.  PJR-slo's points above pretty much covers everything HMRC have done to frustrate the developer community on the VAT API since day one.

[2019-11-07 11:53] #681 closed

[2019-11-07 11:58] PJR-slo commented on #684
@nigelrainer if you have a look at the changes made to v1.151.0, you will see they are quite extensive with many of them adding more validation.

It is quite likely that other incorrectly handled errors are also timing out and returning a 503.  Unfortunately, the only way to find out the actual error is to contact SDSTeam, who will be able to see what is happening at their end.

Peter

[2019-11-07 12:24] mtd-api-team commented on #684
@PJR-slo the changes that have been made recently to the VAT API codebase are library and framework updates.  They have no bearing on the existing behaviour of the VAT API, as was proved by extensive testing before being deployed into Sandbox and then Live the following week.  The [changelog](https://github.com/hmrc/vat-api/wiki/Changelog) is the best place to check when changes are deployed into

[2019-11-07 13:32] LukeHirst opened #685 "Boxes 6 to 9 - Negative Values"
I have a question regarding negative values for boxes 6 to 9.

According to HMRC these values need to be rounded down to the nearest pound.

Therefore:

50.66 = 50 or 50.00

I am not sure whether this is valid but if box 6 is negative which of the circumstances below is correct?

-50.66 = -50 or -50.00

Or:

-50.66 = -51 or -51.00

[2019-11-07 14:04] mtd-api-team commented on #685
Hi @LukeHirst,

We'll check with HMRC policy about that for you.  We will have an answer for you shortly.

[2019-11-07 15:15] mtd-api-team commented on #683
Hi @heythisiskishore,

Just to confirm, the VAT API will accept 0 values for all fields, but it is an edge case.

[2019-11-07 15:15] #683 closed

[2019-11-07 15:16] #661 closed

[2019-11-07 15:16] #665 closed

[2019-11-07 16:01] mtd-api-team commented on #682
We are going to close this issue, hoping that you managed to resolve your query.  If you need further support feel free to reopen this issue.

[2019-11-07 16:01] #682 closed

[2019-11-07 16:01] #662 closed

[2019-11-07 16:02] #596 closed

[2019-11-08 13:51] Hollister opened #687 "Issue connecting to api.service.hmrc.gov.uk"
We have occasional problems in production, across different customers and different environments where we are unable to connect to the HMRC api.

"A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because because connected host has failed to respond XXX.XXX.XXX.XXX:443"

I suspect this is because of something t

[2019-11-09 12:37] GrahamHDawson commented on #687
**Maybe** this is similar to the closed issue 569 which describes the throttling applied to MTD VAT client applications?
Or it could be simply connected to the fact 7th November was a cut-off date for some submissions and therefore the server load was exceptionally high?

[2019-11-11 11:45] LukeHirst commented on #685
Hello @mtd-api-team

Has there been any movement on this?

[2019-11-11 12:27] mtd-api-team commented on #685
Hello, @LukeHirst,
We are still waiting on the official response. We will let you know as soon as we have an answer. Thanks for your patience

[2019-11-12 17:18] AlexJSH opened #688 "False Open Obligations 'Appearing' on Live Server"
Reporting a live issue so all can see and not waste time - if anyone hears when a solution is applied maybe they could reply so we can all see? I'm assuming the solution is HMRC need to flush these false obligations out again...

This afternoon we have multiple clients reporting they cannot submit returns and our software says that they can't update the current period as HMRC are expecting the 31/

[2019-11-12 17:24] AlexJSH commented on #688
@mtd-api-team can you mark this as live issue please?

[2019-11-12 18:21] AlexJSH opened #689 "Request to relax date validation on VAT submissions"
Currently VAT Submissions are rejected if the end of the VAT period has not yet been reached.

This causes issues for a number of our clients (small agricultural businesses) who wish to submit their return slightly early due to eg planned time away from office or traveling Secretary who only visits the office sporadically.

Historically this has always been allowed.

Can this validation please be

[2019-11-12 19:48] JeeBeePee commented on #688
Also got spurious obligations appearing in production.

[2019-11-13 11:16] AndyYouens opened #690 "Negative Box 5 - Undefined Payment Indicator in Production"
if the amount due to HMRC in box 5 is negative, in the sandbox,a submission will return the payment indicator as Bank, where as in production the payment indicator is not return (therefore undefined)

can you get these environments to work in the same way, to give us developers a chance??

[2019-11-13 11:17] AndyYouens commented on #687
or maybe the changes made by HMRC to the OAUTH2 in production, but not in the sandbox??

[2019-11-13 11:45] dawnvf opened #691 "How long before the due date are VAT obligations available?"
I am using the endpoint /organisations/vat/{vrn}/obligations to retrieve VAT obligations to marry up with the VAT periods held against a client on our system so that I can check the dates match and the obligations have been fulfilled.  How long before the due date are the VAT obligation details created and available to this endpoint?

I have a client who has submitted their VAT return for period 3

[2019-11-13 12:41] JeeBeePee opened #692 "Duplicate period keys leading to return submission failure"
LIVE ISSUE

Reported to SDS Team but posting here in case others have seen it in production.

Seeing responses like this from the obligations endpoint:

{
   "obligations":[
      {
         "start":"2019-08-01",
         "end":"2019-10-31",
         "due":"2019-12-07",
         "status":"O",
         "periodKey":"1019"
      },
      {
         "start":"2019-11-01",
         "end":"2020-01-31",

[2019-11-13 12:52] JeeBeePee opened #693 "Obligations endpoint returning pre-MTD obligations that can't be retrieved from the returns endpoint"
LIVE ISSUE

Yet another "numeric period key" issue, which has started since the weekend.  Reported to SDS Team but wanted to share with other software providers. I'll update the issue when the SDS Team replies next month.

Obligations endpoint returns a fulfilled obligation from pre-MTD times (period key 1218):

{
   "obligations":[
      {
         "start":"2018-10-01",
         "end":"2018-12-31

[2019-11-13 13:07] AlexJSH commented on #688
@narendravijayarao why is this not a live issue? (or are you not allowed to mark it yet?)

[2019-11-13 13:11] AlexJSH commented on #688
We have more than 20 clients reporting this error in the last 24 hours. Thanks @JeeBeePee for also confirming sighting of this error.

Slightly easier format to see the issue:

14 Obligations Found

Start		End		        Due		        Status	Key	        Received
[code]

[2019-11-13 13:17] AlexJSH commented on #692
I suspect 1019 is falling into the same category as the old false periods generated in #688

We haven't seen any current duplicates (all march/April/May 2019) so far

[2019-11-13 13:18] AlexJSH commented on #688
Thank you for marking that as live @mtd-api-team

[2019-11-13 13:32] JeeBeePee commented on #688
PR686 looks like a prime candidate.

[2019-11-13 14:17] mtd-api-team commented on #688
Just a reminder to all that reporting of live issues relating to data need to go through SDST, as I can see you are doing.

@JeeBeePee its great that you guys can look through the codebase that you are interacting with, and we fully endorse the Coding in the Open principle that allows you to do so.  We should clarify though that the issues you have noted aren't caused PR that you pointed out.

Any

[2019-11-13 14:22] dawnvf commented on #691
I have had a very swift response from SDST so I now know the answer.  Obligations should be created in the third week of the last month of the period.

[2019-11-13 14:22] #691 closed

[2019-11-13 15:55] RichardTaxaddict opened #694 "Two returns due showing"
Hello

We have seen some users in the past week showing two returns due for the same period. When we check their Gateway login, it shows the same.

They can successfully file against one of them. But not the other (told incorrect Period Key).

[2019-11-13 17:28] AlexJSH commented on #694
@RichardTaxaddict - check out #688 & #692 - something has triggered a lot of false obligations to be generated

[2019-11-14 09:56] AlexJSH commented on #688
We have received notification from SDSTeam that this issue has now been resolved and we have had a few clients successfully submit this am. I don't believe a fix was applied on a per client basis so if you have any clients still with this issue then suggest you contact SDSTeam with VRN's

[2019-11-14 09:57] AlexJSH commented on #694
@RichardTaxaddict - #688 looks to have been resolved so hopefully your issue is too

[2019-11-14 09:58] AlexJSH commented on #692
@JeeBeePee - #688 looks to be resolved so hopefully this issue is now resolved?

[2019-11-15 10:45] BorisKalyaev opened #695 "I have a valid token but /organisations/vat/{vrn}/obligations endpoint returns not authorised"
**I do a request:**
POST https://test-api.service.hmrc.gov.uk/oauth/token HTTP/1.1
Accept: application/json
Content-Type: application/x-www-form-urlencoded
Host: test-api.service.hmrc.gov.uk
Content-Length: 161
Expect: 100-continue
Connection: Keep-Alive

grant_type=refresh_token&refresh_token=f31b87fb4ba1df6adccee1c0388ebd58&client_id=CX03VfmaDf2yyB4XEfp6glwnVFwa&client_secret=*****
**Then I got

[2019-11-15 11:16] mtd-api-team commented on #694
Hi all,

Hopefully, you should have all now received communications from SDST relating to this issue, but if not, it appears that this problem has been resolved. If you have any additional questions or problems on this topic feel free to re-open this thread.

- MTD team

[2019-11-15 11:16] #694 closed

[2019-11-15 11:16] mtd-api-team commented on #688
Hi all,

Hopefully, you should have all now received communications from SDST relating to this issue, but if not, it appears that this problem has been resolved. If you have any additional questions or problems on this topic feel free to re-open this thread.

- MTD team

[2019-11-15 11:16] #688 closed

[2019-11-15 11:17] mtd-api-team commented on #692
Hi all,

Hopefully, you should have all now received communications from SDST relating to this issue, but if not, it appears that this problem has been resolved. If you have any additional questions or problems on this topic feel free to re-open this thread.

- MTD team

[2019-11-15 11:17] #692 closed

[2019-11-18 10:02] AndyYouens commented on #687
https://github.com/hmrc/vat-api/issues/680 ??

[2019-11-18 12:19] mtd-api-team commented on #687
Hi @Hollister

Unfortunately this is an issue we are not able to provide support for. Please contact SDST for support on this SDSTeam@hmrc.gov.uk

I can say that we haven't experienced this issue in the Sandbox environment, but we are unable to test or replicate this in Production.

Regards

[2019-11-26 14:46] LukeHirst commented on #685
I am just checking to see if this query has been answered yet?

[2019-11-26 15:03] mtd-api-team commented on #685
Hello @LukeHirst,

Sorry for the delay. Below is the response we received:

Re #685 (rounding of negative values) :
The figures entered in Boxes 6 – 9 are whole pounds only, i.e. no pence values included
Figures are rounded down even in a negative value (credit note), e.g. if the value was £10000. 25 or £10000.99 the value to be input would be £10000.

Hope this is helpful and thank you for your p

[2019-11-27 09:19] LukeHirst commented on #685
Thanks, I take from this answer that if any value were to be negative than it will round back to 0 (e.g. -100.19 would be -100.00)

[2019-11-27 09:19] #685 closed

[2019-11-28 03:28] divyabattoju opened #696 "After acquiring a new access token, POST VatReturn, returns Unauthorized. 401. Where as not the case of View VAT Information such as obligations"
When submitting an issue please try to provide the following information:

* **I'm submitting a ...**
  - [ ] Bug - API
  - [ ] Bug - Documentation

* **What is the current behavior?**
As part of our app flow, when we acquire a new access token from HMRC and hit POST Vat return endpoint with the newly acquired access token, HMRC sends us 401. Unauthorized. Interestingly this is not the case for GE

[2019-11-28 10:42] mtd-api-team commented on #696
Hi,

Which environment are you seeing this issue currently i can see this is working in sandbox. It sounds like there may be an issue with the scope being used it should be `write:vat`.

[2019-12-03 15:11] GJustas commented on #565
Hello,

As you may know by now that HMRC is now having new API in which validates fraud prevention headers.
I implemented fraud prevention headers in our software in march and tried now to validate them and got few errors:
1. We don't supply scaling factor. I agree to that but we develop our software using C# and it's kinda „hacky" to get scaling factors of multiple screens and if you get them it'

[2019-12-03 15:25] mtd-api-team commented on #565
Hi @GJustas,

Questions about Fraud Prevention Headers that require HMRC support should be referred directly to SDSTeam@hmrc.gov.uk. They will not be answered by a member of HMRC on GitHub.

As the MTD API team cannot directly answer any Fraud Prevention questions, this repository will not be monitored for issues related to Fraud Prevention, and any new Issues raised around these Headers will be d

[2019-12-03 15:40] ddaddy commented on #565
@GJustas Have you had any communications with SDSTeam about your headers?
I had mine checked by an SDSTeam member and after making a few changes they approved them. Even though I cannot supply the MAC address, so I get an error with the new validation API.
I emailed them this morning to suggest the MAC address should be optional, but I guess this change won't happen and missing things out will jus

[2019-12-04 14:51] lewisrenfrew commented on #565
I've been using the new sandbox testing functionality to test out my headers and am confused by the fact that several that the API docs say are possible to omit, e.g.

'If only a single factor (for example, username and password) is being used, submit the header with an empty value or omit it entirely.'

still show as errors as opposed to warnings in the test response. Am I right in assuming error

[2019-12-05 05:35] #696 closed

[2019-12-05 05:36] divyabattoju commented on #696
thanks!

[2019-12-05 05:46] divyabattoju opened #697 "POST VAT submission returns 500(INTERNAL_sERVER_ERROR)/ 503 ( SERVER_ERROR), however when user retries, hmrc tells DUPLICATE_SUBMISSION"
# Bug report
Fill in the sections below to submit your bug report:
- [ ] Documentation
- [x] API

**Describe the bug**
**SCENARIO 1:**
1. HMRC returns 500(INTERNAL_SERVER_ERROR) / 503(SERVER_eRROR) when submitting VAT Return.
2. User retries submission gets DUPLICATE_SUBMISSION.
**SCENARIO 2:**
1. HMRC returns 500(INTERNAL_SERVER_ERROR) / 503(SERVER_eRROR) when submitting VAT Return.
2. User retri

[2019-12-13 14:02] Monica938 opened #701 "VAT Payments and Liabilities return 404 in response"
I have submitted my VAT return through MTD software for July to Sept Quarter on November 6th and the submission was successful. When I tried making calls to payments and liabilities on November 6th I got the response 404, because the payments was not updated. If we make calls to payments or liabilities now the response is still 404 error. It should have been updated by now right.Even the VAT liabi

[2019-12-13 14:42] mtd-api-team commented on #701
Hi,

we are unable to assist with this issue please contact SDST by emailing SDSTeam@hmrc.gov.uk, and they should be able to see the state of your liability .

Regards

[2019-12-16 09:50] Monica938 commented on #701
I have already posted in their support portal (Reference: QGYE-5529-XEVV) & their response was to try shortening the date ranges.Then I contacted their VAT online service Helpline but their response was to mail SDSTeam@hmrc.gov.uk with the issue I was facing but still the APIs return 404.

[2019-12-18 16:49] AbsoluteAccounting1 commented on #451
Has anybody had experience of this happening live?

[2019-12-19 23:10] divyabattoju opened #703 "Retrieve submitted VAT Return for an obligation sends 9 box values but obligation is still open"
# Bug report
Team, retrieve submitted vat return endpoint for a given vat return https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0#_view-vat-return_get_accordion returns 9 boxes values, whereas obligations https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0#_retrieve-vat-obligations_get_accordion is sending it as still open.

This

[2019-12-25 06:54] duoduoCain opened #704 "Why can't my output tax be greater than my input tax when I file in the UK"
Why can't my output tax be greater than my input tax when I file in the UK

[2019-12-31 15:50] AlexJSH commented on #703
@mtd-api-team Can you comment as to whether this falls under your remit please?

The basic issue is that there are circumstances under which a Return Submission (the 9 box data associated with a period key) will exist, with real data, but the obligation associated with that key will NEVER be updated to 'Fulfilled' (we have waited until long after any explainable delay in obligation update). It is

[2019-12-31 15:53] AlexJSH commented on #689
@mtd-api-team Any comments or redirect me to required ear please?

[2020-01-06 15:37] jordan-dimov commented on #704
It can. You're just not filing it right. Read the documentation carefully, particularly around Field 5 (net vat due). This should be the absolute value of total vat minus reclaimed vat. HMRC backend then figures out the right thing to do based on the other fields, even though Field 5 on its own is ambiguous.

Doesn't make much sense to me either, to be honest, but that's how it is.

[2020-01-07 10:58] RichardTaxaddict opened #706 "API Server Down?"
Hello - getting a few users this morning trying to file and reporting

Error requesting data on server. Server Error, The organisation/vat API is currently unavailable.

![image](https://user-images.githubusercontent.com/50072190/71890570-7c370200-313c-11ea-8e88-4d7ab5e75381.png)

[2020-01-07 11:06] StuBramley commented on #706
We've also got users experiencing the same error...

[2020-01-07 11:09] TS-grantlebrun commented on #706
There is a "Live Incident" reported here: https://api-platform-status.production.tax.service.gov.uk/incidents/0yf5rg74ch9l

However we've seen all requests failing since 10am - not 10.46 as reported there.

[2020-01-07 11:12] RichardTaxaddict commented on #706
It would be helpful if HMRC reported it on the server update. Providers and VAT payers go into meltdown (especially on filing deadline day) when this happens as we have to figure out who's end is failing.

https://www.gov.uk/government/publications/making-tax-digital-for-vat-service-availability-and-issues/making-tax-digital-for-vat-service-availability-and-issues

[2020-01-07 11:48] mtd-api-team commented on #706
We can confirm that the VAT API is currently unavailable.  You should all have had communication directly about this issue that HMRC are facing.

As the customer facing API team, we can only apologise for this inconvenience.  VAT is not the only area affected, and HMRC are working to resolve this as soon as possible.

We take your point about the service availability page - the team responsible fo

[2020-01-07 12:18] StuBramley commented on #706
Hi,

Unfortunately no email or other direct contact from HMRC to inform us of the issue proactively. We have received a reply to our email which has confirmed the problem and shared this same link (which is very useful as we weren't previously aware of it).

We have subscribed to updates so hopefully will be informed as soon as things are back up and running and can then inform our users according

[2020-01-07 13:48] mtd-api-team commented on #706
The issue appears to have been resolved, and we have made our API available for use again.

Apologies again for the interruption of service.

[2020-01-08 12:40] mtd-api-team commented on #706
Hi all

Unfortunately HMRC is experiencing an issue again, and VAT API is currently unavailable.

Again we apologise for this inconvenience. VAT is not the only area affected, and HMRC are working to resolve this as soon as possible.

Regards

[2020-01-08 13:21] mtd-api-team commented on #706
The issue appears to have been resolved, and we have made our API available for use again.

Apologies again for the interruption of service.

[2020-01-08 18:07] RichardTaxaddict commented on #706
Thanks.

Was it capacity/overload issue due to filing deadline? Just so we know and can encourage users to file earlier than deadline day. Someone told me it wasn't just MTD filings today, but registering new taxpayers, too?
Thanks

[2020-01-09 10:08] mtd-api-team commented on #706
Hi all

Unfortunately HMRC is experiencing an issue again this morning, and VAT API is currently unavailable.

Again we apologise for this inconvenience. HMRC are working to resolve this as soon as possible.

Regards

[2020-01-09 10:17] RichardTaxaddict commented on #706
Hi - thanks for the heads up. Any indication of the cause? Just so we can keep clients informed.

[2020-01-09 10:32] mtd-api-team commented on #706
Hi @RichardTaxaddict,

HMRC are still investigating the cause of this - unfortunately we are probably not in the best place to communicate the results as and when they arrive.

Again, SDST are the best placed to respond to queries of this nature, but as we can get a message out to everyone quickly through this channel we thought we would do so.

[2020-01-09 11:48] dawnvf commented on #565
I have been submitting fraud headers in production for some time but have had no information regarding whether or not they were correct.  I have just started using the Test Fraud Headers API and have made a few tweaks so that they appear to be correct for DESKTOP_APP_DIRECT connection.

I am now working on the additional headers for DESKTOP_APP_VIA_SERVER.  These include Gov-Vendor-Forwarded and G

[2020-01-09 13:42] mtd-api-team commented on #706
The issue appears to have been resolved, and we have made our API available for use again.

Apologies again for the interruption of service.

[2020-01-13 12:36] adamdavi3s commented on #675
I use Authy for my developer account and have done since 2FA first came online for the developer portal. They also have a desktop app

I use Authy for my developer account and have done since 2FA first came online for the developer portal, while I do use it on a smartphone, they also have a desktop app

[2020-01-14 11:45] mtd-api-team commented on #704
Hi @duoduoCain - as Jordan pointed out, the vat-api requires that you file the absolute difference between two values in the `netVatDue` field; HMRC will work out how much the filer owes/is owed based on the other fields submitted. Please see #270 for more information on this field.

[2020-01-14 11:45] #704 closed

[2020-01-15 01:56] duoduoCain commented on #704
@jordan-dimov @mtd-api-team  Thanks a lot

[2020-01-17 08:57] duoduoCain opened #709 "A question about taking positive and negative numbers for Box4（vatReclaimedCurrPeriod）"
When does Box4 take a positive number and when does it take a negative number

[2020-01-17 09:33] mtd-api-team commented on #709
Hi @duoduoCain

https://www.gov.uk/guidance/how-to-fill-in-and-submit-your-vat-return-vat-notice-70012

If you follow the above link, section 3 details information on how to correctly fill in each box. If you have any other questions contact the software developer support team via SDSTeam@hmrc.gov.uk

[2020-01-23 14:09] mtd-api-team commented on #706
Hi all

Unfortunately HMRC is experiencing an issue again this afternoon, and VAT API is currently unavailable.

We apologise for this inconvenience. HMRC are working to resolve this as soon as possible.

Regards

[2020-01-23 15:15] mtd-api-team commented on #706
The issue appears to have been resolved, and we have made our API available for use again.

Apologies again for the interruption of service.

[2020-01-29 11:26] AndyYouens commented on #690
any update?

[2020-01-31 08:09] MrNicks opened #713 "Trying to test Fraud Prevention Headers"
I implemented the Fraud Prevention Headers back in April 2019 and they are in production.  We have not had any problems with requests to either the test sandbox or to the live portal with our fraud prevention headers.  However, I thought I would try using the validate API to double check.

I have set the request headers as per your API documentation and have created an OAuth 2.0 Bearer Token with

[2020-01-31 08:24] adamdavi3s commented on #713
You need to mark it as subscribed in your developer hub. Application>[your application] manage API subscriptions

[2020-01-31 08:59] MrNicks commented on #713
Thanks.  I've enabled that in our developer hub for the application.  I'll give it a go again.

[2020-01-31 10:32] MrNicks commented on #713
I have enabled Test Fraud Prevention Headers in the developer hub for our application.  I am still receiving the same response despite having created a fresh OAuth 2.0 Bearer token!

[2020-01-31 11:09] MrNicks commented on #713
I've seen the error of my ways, and I am now received a 200 OK response.

[2020-01-31 15:21] MrNicks commented on #713
I have a missing header:
   Gov-Client-Device-ID
but our connection method is:
   WEB_APP_VIA_SERVER
So, how do we generate a suitable ID and persist it?

[2020-01-31 15:53] adamdavi3s commented on #713
good luck is all I can say, the SDS team will insist you save a file or registry key on the local machine. However they will not fault the developer if the client deletes it.

[2020-01-31 16:51] MrNicks commented on #713
Get a MISSING_HEADER error for this header, but we can't send an empty header otherwise we get an EMPTY_HEADER error.  Will just have to leave this and live with the MISSING_HEADER error

[2020-01-31 18:57] adamdavi3s commented on #713
Yes if its an error rather than a warning then HMRC can refuse your clients submission and may ask you to explain why it is empty... its a bit of an insane requirement

[2020-02-03 15:14] duoduoCain opened #715 "NA"

[2020-02-04 11:14] nikhiledu commented on #715
TSR-16789

[2020-02-04 11:49] mtd-api-team opened #716 "Response to Issue 715"
Hi @duoduoCain

Since Issue 715 is an issue with the production environment (rather than the Sandbox), please contact SDSTeam@hmrc.gov.uk and they will be able to look into this for you.

Issue 715 has been removed since it contains personally identifiable information - for any production-relation enquiries, please contact SDST directly and do not post any sensitive information on GitHub.

Also, w

[2020-02-04 11:57] mtd-api-team commented on #706
Hi all

I'm closing this Issue as the downstream issues which caused these problems have been resolved for a few days now. Apologies again for any inconvenience this caused.

Regards

[2020-02-04 11:57] #706 closed

[2020-02-11 16:26] RichardTaxaddict opened #721 "MTD API Down?"
Hello - we have a few users reporting the API is unavailable this afternoon, Tue 11th Feb.

[2020-02-12 07:52] JeeBeePee commented on #721
Still down. Unbelievable.

[2020-02-18 12:51] yi-jun opened #722 "The liabilities api cannot get data"
the response:
{"code":"NOT_FOUND","message":"The remote endpoint has indicated that no data can be found"}

I have a problem using a formal environment
Successfully called returns and returns/{periodKey} api on 2020-02-05,
To this day, data on liabilities cannot be obtained.
What is the problem?

[2020-02-18 14:54] mtd-api-team commented on #722
Hi @yi-jun

If your enquiry relates to an issue with retrieving liabilities in production (rather than the Sandbox) please contact SDSTeam@hmrc.gov.uk and they will be able to look into this for you. It may be possible, however, that liabilities may not exist for the supplied vrn and period key in which case this is the intended behaviour of the endpoint.

Regards.

[2020-02-18 14:55] yi-jun commented on #722
copy

Regards.

[2020-02-18 14:55] #722 closed

[2020-02-21 10:37] adonohoe opened #723 "Anyone elses customers using invalid internal IP address ranges? (Fraud Prevention Headers)"
We're getting errors on our FPH reports that we have no control over.
A couple of our customers have internal IP addresses with ranges like 222.x.x.x and 100.x.x.x and HMRC are throwing it back as
**gov-client-local-ips: error : At least one of the values in the list is not a local IP address.**

Anyone else come across this? I'm in no position to tell my customers they need to fix their IP addres

[2020-02-21 16:51] rosco1974 commented on #723
Yes, we also received the gov-client-local-ips error and we have clients on cloud servers and their IP addresses are non confirming, nothing they can do to change.  I also receive the Device Manufacturer/Model error even though we add it as (/), again we don't have this information as the desktop app is run from a cloud server.

Tested different scenarios today and only one that passed is when add

[2020-02-23 13:58] JeeBeePee commented on #723
Haven't had that particular issue, but HMRC have complained that I don't gather available local IP addresses, despite my app being browser based and therefore not having access to them. HMRC have helpfully suggested that I simply integrate WebRTC, completely failing to realise that WebRTC makes use of a security loophole that is now being closed in most browsers.

You weren't expecting HMRC to rea

[2020-02-24 09:21] adonohoe commented on #723
Okay, thanks for your inputs - Nothing much I can do, so I'll just leave it as it is then.

We went through the same kind of pain with their payroll RTI. I guess I was hoping that they'd see sense as there are clear issues with their spec. I've sent this to their SDS Team as well and I'll post back if/when I get an answer.

[2020-02-24 09:52] kingstonrk commented on #723
We've been going through similar issues - got dinged in the recent automated header tests for not supplying local IP addresses but the SDS Team have never replied to our requests for a reference implementation that does not invlove the hugely problematic WebRTC methods.

[2020-02-24 23:25] GrahamHDawson commented on #723
RE Gov-Client-User-Agent after a lot of experimentation the following works...

Gov-Client-User-Agent: Windows/Microsoft%20Windows%208.1 **(%20/%20)**

In other words where you can't get Manufacturer or Model insert a percent-encoded space DON'T just leave a blank or a non-encoded space ie (/) or ( / ) won't work (%20/%20) will work.

[2020-02-25 10:09] adonohoe commented on #723
Thanks for that Graham - great work.

[2020-03-04 11:34] minkok3 opened #724 "Retrieve VAT obligations, invalid date range for 365 days date ranges on leap year (2020)"
- [x] API

**Bug**
On PROD MTD API, when a year date range is sent to get the VAT obligations endpoint `Retrieve VAT obligations` e.g. `fromDate=2019-03-04&toDate=2020-03-04` (366 days). The response is `INVALID_DATE_RANGE`. Changing the from date to make 365 days works i.e. `fromDate=2019-03-04`

**To Reproduce**
Use date range `fromDate=2019-03-04&toDate=2020-03-04` on `/organisations/vat/{vrn}/

[2020-03-04 13:39] mtd-api-team commented on #724
Hi @minkok3

when supplying a 365 day date range what dates did you use?

Regards.

[2020-03-04 14:38] minkok3 commented on #724
Retested the 365 days, it works. Only 366 days it throws invalid date error. I am updating the issue to reflect.

[2020-03-04 16:17] mtd-api-team commented on #724
Hi @minkok3

the dates supplied would totally to 367 days as the date range is inclusive.

Regards.

[2020-03-06 10:18] minkok3 commented on #724
Fair enough, tested and working.

[2020-03-06 10:18] #724 closed

[2020-03-11 10:01] CiprianSavoiu commented on #418
I'm having the same problem with the redirect_uri.
I'm able to retrieve the auth code (where the redirect _uri works) but when trying to get the token I'm getting invalid Uri error

[2020-03-11 10:02] CiprianSavoiu commented on #347
I'm having the same problem with the redirect_uri.
I'm able to retrieve the auth code (where the redirect _uri works) but when trying to get the token I'm getting invalid Uri error

[2020-03-11 10:13] mtd-api-team commented on #418
Hi @CiprianSavoiu

Our own guidance on creating test users is available here:
https://github.com/hmrc/vat-api/wiki/Creating-Test-Users-in-the-Sandbox
See step 3.

Here's an example in Postman:
<img width="556" alt="Screenshot 2020-03-11 at 10 10 32" src="https://user-images.githubusercontent.com/49438676/76405872-be6d0180-6380-11ea-805b-ef2866cf4a52.png">

Hope this helps, if you are still struggl

[2020-03-11 10:24] CiprianSavoiu commented on #418
thank you for the quick answer.
I found out what I was doing wrong :)
For others reference:
1. when requesting access code the redirect_uri should be percent-encoded : http%3A%2F%2Flocalhost%3A3017%2F
2. when requesting token the redirect_uri should be in normal format: http://localhost:3017/

[2020-03-11 10:25] CiprianSavoiu commented on #347
Solved

    when requesting access code the redirect_uri should be percent-encoded : http%3A%2F%2Flocalhost%3A3017%2F
    when requesting token the redirect_uri should be in normal format: http://localhost:3017/

[2020-03-11 10:35] CiprianSavoiu commented on #418
sadly it worked once and now getting back the same error "error_description": "redirect_uri is invalid"

[2020-03-11 10:40] CiprianSavoiu commented on #418
![image](https://user-images.githubusercontent.com/20278263/76408319-aeefb780-6384-11ea-8195-4eb94d2e5d95.png)

[2020-03-11 10:40] CiprianSavoiu commented on #418
![image](https://user-images.githubusercontent.com/20278263/76408380-c6c73b80-6384-11ea-8d5f-18ffcf0d2fc8.png)

[2020-03-11 15:04] gbs-matt commented on #723
I contacted SDSTeam about this on the 20th Feb.  They replied 6 days later and mentioned I could fix it by filtering for private IPs.  I received an additional reply from them today in which they said the following:

Maybe the problem here is the definition of 'local IP'.  I assumed that 'local' meant '**assigned to the local network card**'.  Having searched the web I see that 'local IP' is just

[2020-03-18 18:13] PrasanthNSasi opened #725 "Authorization issue"
Hello All,

I am trying to integrate the HMRC VAT(MTD) API into our application. when I make the first request for getting the **code** and **state** from this endpoint(https://test-www.tax.service.gov.uk/oauth/authorize), I got some response like this in the POSTMAN.

![image](https://user-images.githubusercontent.com/62351402/76993220-82ceca80-6972-11ea-8525-0858a14f73c8.png)

Please help me out

[2020-03-19 08:13] mtd-api-team commented on #725
Hi @PrasanthNSasi

This part of the user setup journey is handled via a web page, which is why the page is being displayed. We access this URL inside a browser and grant authority to the vendor application from there.

https://github.com/hmrc/vat-api/wiki/Creating-Test-Users-in-the-Sandbox See step 2

It may be possible to complete this step in Postman but I haven't personally tried it. Using a br

[2020-03-23 11:53] GrahamHDawson opened #729 "VAT Deferrals and MTD VAT - will this change responses?"
The chancellor announce a VAT deferral to help businesses...

How will this affect the responses from the MTD VAT API?
For instance will Obligations and Liabilities show an amended 'Due Date' or the default?

Also will the 366 day date range when querying need change?

[2020-03-23 12:11] duoduoCain opened #730 "when i call MTD API oauth/token"
Map<String, Object> body = new HashMap<String, Object>();
		body.put("client_secret", "79f1cc61-588f-4bd3-84fb-3df87ad30541");
		body.put("client_id","kEc4JLyrZjqeHFxWvFszVQtc8wMa");
		body.put("grant_type", "refresh_token");
		body.put("refresh_token", "ffa250e75e986e6b4e1ccc98c814e66");
//		String post = HttpUtil.post(OstVatConfig.getAuthRefresh(), body);
		Map<String, String> headers = new Hash

[2020-03-23 15:37] GrahamHDawson commented on #730
Not a Java user - but the headers for getting a refreshed token is just
Accept: application/vnd.hmrc.1.0+json

So I'm guessing for you that translates to

headers.put("Accept", "application/vnd.hmrc.1.0+json");

Also not sure body as HashMap<String, Object> is correct, maybe better just using
HashMap<String, String> (as in the headers)

[2020-03-23 16:27] mtd-api-team commented on #729
The due date is also the submission by date. The deferral only relates to payments. We don't currently envisage any changes to the API functionality or to the data returned from any requests.

[2020-03-23 21:44] GrahamHDawson commented on #729
I can see how the due date and submission date would apply to Obligations, but I always thought the 'Due Date' returned from Liabilites **was** the payment date, and it's payments that are being deferred.

[2020-03-25 03:48] SpineTech opened #735 "VAT(MTD) - Obligations issue - POSTMAN giving null response"
Hello
I am trying to integrate the HMRC VAT(MTD) API into our application.
When I make the request for getting the code and url is (organisations/vat/{vrn}/obligations)
I got some response like this in the POSTMAN.

{
	"message": "Success",
	"success": "True",
	"hmrcResponseDataModel": {
		"start": null,
		"end": null,
		"due": null,
		"status": null,
		"periodKey": null,
		"received": null
	}
}
!

[2020-03-30 07:58] heythisiskishore opened #739 "Regards Refresh Token"
Hi Team,

Is there any issue going with the Refresh Token.

It is throwing the message like

The remote server returned an error: (400) Bad Request.

[2020-03-30 08:06] mtd-api-team commented on #739
Hi

We aren't experiencing any issues in Sandbox. If this is happening in Production, please contact Software Developers Support Team on SDSTeam@hmrc.gov.uk.

Regards

<img width="902" alt="Screenshot 2020-03-30 at 09 03 40" src="https://user-images.githubusercontent.com/49438676/77889250-7cd7c400-7265-11ea-9855-2841bde67616.png">

[2020-03-30 08:11] mtd-api-team commented on #735
Hi @SpineTech sorry for the delayed response.

This is not a response from the vat-api. We return:
[code]
It appears there is an issue with the application you are using.

Regards

[2020-04-09 13:44] ornjohan opened #749 "SandBox test scenario doesnt work"
Im getting below error when trying whatever "Header Value (Gov-Test-Scenario)" against VAT (MTD) API.
I even tried blank and still returns below message.

{"code": "MATCHING_RESOURCE_NOT_FOUND", "message": "A resource with the name in the request can not be found in the API"}

In the string it is trying to send for example:
<"Authorization: Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxx", "Gov-Test-Scenario:

[2020-04-09 14:00] mtd-api-team commented on #749
Hi @ornjohan,

That looks like the error which the platform returns when it doesn't recognise the request url. Could you please give me some more details about the request which you are making (url, accept header etc)?

Kind regards,
MTD-API team

[2020-04-09 14:05] ornjohan commented on #749
Thanks for quick answer :)

Im sending from Dynamics AX 2012.

Below is the webRequest in its whole:
<"Authorization: Bearer xxxxxxxxxxxxxxxxx", "Gov-Test-Scenario: QUARTERLY_NONE_MET", "Gov-Client-Connection-Method: DESKTOP_APP_VIA_SERVER", "Gov-Client-Device-ID: xxxxxxxxxxxxxxxxxxxx", "Gov-Client-User-IDs: os=xxxxxx", "Gov-Client-Timezone: UTC+00:00", "Gov-Client-Screens: width=1710&height=822&c

[2020-04-09 14:06] ornjohan commented on #749
https://test-api.service.hmrc.gov.uk

and this URL.

[2020-04-09 14:24] mtd-api-team commented on #749
In Sandbox the full url for the Retrieve Obligations endpoint should look like this:
'https://test-api.service.hmrc.gov.uk/organisations/vat/**{vrn}**/obligations'
 followed by any query parameters you are providing.

From the link you've provided, it would seem like you've missed out the VRN parameter between 'vat' and obligations. Can you try adding that parameter into the request url and see if

[2020-04-09 14:43] ornjohan commented on #749
Ok seems i came a bit further when adding that, but now i got below. Saw this on the error codes on the documentation, but everything should be setup regarding this. I have access token and all setup.
![2020-04-09 16_39_15-Window](https://user-images.githubusercontent.com/49483767/78907227-ba67f880-7a80-11ea-9173-3bb752bad357.png)

[2020-04-09 15:06] ornjohan commented on #749
Strange, i redid the process of getting authorization code, and got a new access token again, to see if it was something with that, but still i get above error.

[2020-04-09 15:09] mtd-api-team commented on #749
This particular error usually occurs in one of two scenarios. Firstly, you could be submitting a valid bearer token with a vrn which it is not associated with. Secondly, you could be submitting the correct vrn and bearer token for a user which is not properly enrolled in VAT. If you are confident that you are submitting the correct vrn and bearer token I would suggest checking to make sure that th

[2020-04-09 15:24] ornjohan commented on #749
Now i got it to work :) Thank you very much! And Happy easter to you!

So for anyone else using AX2012 in the future:
1. In the table TaxHMRCApplication_UK, there is a fields called "TestUserVAT", where i needed to fill in the CoRegNo on the legal entity.
2. Server token that AX is asking for when trying to create new test user, is the Bearer. I tried applying the Application ID from HMRC website,

[2020-04-09 15:25] #749 closed

[2020-04-09 15:30] mtd-api-team commented on #749
Glad to be of service! Happy Easter to you too!

Kind Regards,
MTD-API team

[2020-04-17 12:34] #739 closed

[2020-04-17 12:37] #735 closed

[2020-04-17 12:38] #725 closed

[2020-04-17 12:39] #716 closed

[2020-04-17 12:39] #721 closed

[2020-04-17 15:19] MrSent opened #761 "Obligations date range question"
Am I the only one that finds the documentation on the HMRC website useless or particularly convoluted? All I'm looking for are well written example code. The language doesn't really matter as long as I can read it. I've created a module for an accounting package that our customers use. We're a business partner for the accounting software vendor. This means my module will be deployed to about a hun

[2020-04-17 16:07] mtd-api-team commented on #761
Hi @MrSent,

Thankyou for your feedback.

The [documentation](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0#_retrieve-vat-obligations_get_accordion) states that an invalid date range is as follows: `Invalid date range, must be 366 days or less`.

We can not, and should not, suggest how you develop against the API, so we do not provide code examples.  What we

[2020-04-17 18:02] MrSent commented on #761
I'm not suggesting you tell me how to develop. I'm trying to solve a
problem I've been having and all you've said it RTFM which isn't helping so
I've asked for help. Isn't this the place to come for help? From the people
who've created it? If by reading the documentation isn't helping then where
do I go from here?

On Fri, 17 Apr 2020, 17:07 MTD API Team, <notifications@github.com> wrote:

[2020-04-20 07:03] cb-rfk commented on #761
We supply our users with a pair of date dropdowns for them to select the search date range, and then validate to make sure they can't select > 365 days.

Alternatively I think you could offer them a list of Vat reporting periods if you have those stored in your system, bearing in mind the customers can change their vat year start/end.

Regardless, they should know what date range of obligations th

[2020-04-20 07:14] JeeBeePee commented on #761
@MrSent I've been quite critical of the initial rollout and documentation (which is now much better), but I will defend the API team here - why on earth would someone publish sample code for a REST API? It makes no sense. At the very most, you might wish for a Postman collection.

The documentation for the obligations endpoint states that it must be 366 days or less. That's probably why you were t

[2020-04-23 11:42] BunglowBill commented on #730
Again, not a Java user but I had the same error

I had Content Type = "application/x-www-form-urlencoded;" with a semi-colon on the end.

Fixed by removing the semi-colon.

Could point out that it was working for months up till about February.

[2020-04-23 15:14] SpineTech opened #768 "VAT(MTD) - liabilities & payments not giving any results"
Hello
We are done with obligation and VAT submission, but we are not getting any return value for  liabilities & payments.
Another query being when we submit VAT successfully is there any further process from our side to be done?

Please advise.
Thanks
SLal

[2020-04-28 08:16] #761 closed

[2020-04-28 08:22] mtd-api-team commented on #768
Hi @SpineTech,

What response are you receiving for Liabilities and Payments might we ask?  If it is a 404 then it means that no data exists in HMRCs stores for the date range you have been providing.

Are you testing this in the Sandbox environment or is this in Production?

In regards to the VAT Submission, there is nothing else to do other than to store the response items for your own needs if

[2020-04-28 08:30] #709 closed

[2020-04-28 12:37] SpineTech commented on #768
Hello Team,

We are testing in Sandbox environment.
Liabilities and Payments showing 404. - That's fine as per your reply.
Just a query non of the date range shows any reply, is that normal in sandbox.

The Obligations endpoint does not update even after submission have been successfully done. It still shows unfulfilled.
Please advise.

Regards
SLal

[2020-04-29 16:25] MrSent opened #771 "Get obligations query parameters"
- [x] Documentation
- [ ] API

This page:
https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0#_retrieve-vat-obligations_get_accordion

states that all of the query parameters are optional. If they're all optional, why when they're all omitted, do you get an error saying INVALID_DATE_RANGE? If I want to retrieve by status, I leave the status field blank to return bo

[2020-04-29 19:35] JeeBeePee commented on #771
"Mandatory unless the status is O."

[2020-04-30 20:32] GrahamHDawson commented on #768
Sandbox responses are 'canned' - so the Obligations won't update even after a successful test submission.
If you want to see a response then choose one of the Obligation test scenarios that have one or more fulfilled.

[2020-05-06 12:53] njacobs-winman opened #774 "liabilities endpoint date range"
This is in the live environment.
If I make a request to the liabilities end point like this
organisations/vat/xxxxxxxxx/liabilities?from=2019-05-06&to=2020-05-06
on the 6th May it gives me an error
{
    "statusCode": 400,
    "message": "DATE_RANGE_INVALID"
}
It appears that the date range has to be less than 12 months. I can't see this in the documentation. Is this the case?

[2020-05-06 13:20] mtd-api-team commented on #771
Hi @MrSent,

Apologies for any confusion. As is stated in the field descriptions for the `from` and `to` query parameters, they are both mandatory unless a status of `O` has been provided. If you wish to retrieve both open and fulfilled obligations then the date query parameters are required.

Kind regards,
MTD-API-Team

[2020-05-06 13:20] #771 closed

[2020-05-06 13:37] mtd-api-team commented on #774
Hi @njacobs-winman ,

Apologies for any confusion. For a retrieve liabilities request there is a maximum date range of 365 days, which is documented under the `Error scenarios` section for this endpoint. This includes leap days, which is why your request is failing. If you reduce your date range by a day, to `?from=2019-05-06&to=2020-05-05` for example, this should solve your problem.

Kind regard

[2020-05-06 13:48] MrSent commented on #771
Thanks for the clarification. Personally, I would write that as:

If a status of O is provided, the from and to dates are not required. In all other circumstances, they are required.

[2020-06-06 12:19] istuart0 opened #781 "Accepts VAT returns with negative values in boxes 6, 7, 8 & 9"
# Bug report

You must read the information below before you submit a bug report.

The MTD API team cannot help if your bug report is about:

- Fraud Prevention Headers
- Issues relating to OAuth2
- Subscribing or registering to use the API Platform, MTD enrolment, de-enrolment, registration for VAT, Beta services, etc.
- Issues integrating with the API Platform (e.g. setting up an application/acc

[2020-06-08 12:25] GrahamHDawson commented on #781
That's as expected - see the documentation

https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0#_view-vat-return_get_accordion

entries for box 6,7,8 and 9 all have this for the validation of the value
The value must be between -9999999999999 and 9999999999999.

[2020-06-09 09:52] hmrc-api-team commented on #781
Hi

Sorry for the delayed response. Graham is correct, this is expected.

Also we'd advise against sharing your `Authorization` token, even with Sandbox data.

Regards

[2020-06-12 11:03] akashdsouza commented on #723
Chrome and firefox now obfuscate host addresses obtained through WebRTC. [Related Chrome announcment](https://groups.google.com/forum/#!msg/discuss-webrtc/4Yggl6ZzqZk/nV24XkXXAQAJ)

[2020-06-12 11:17] cb-rfk commented on #723
Hi @akashdsouza ,
Yes, been on the cards for a while and really frustrating that HMRC are insisting that we provide information that we cannot reasonably obtain, particularly as we have asked several times via email for them to provide us with some form of reference implementation to follow, which they have not done.
We are simply having to ignore this header for now despite the repeated requests

[2020-06-19 19:36] stuartajd opened #783 "VAT Return submission test endpoint returning inconsistent paymentIndicator"
# Support request

You must read the information below before you submit a support request.

The MTD API team cannot help if your query is about:

- Fraud Prevention Headers
- Issues relating to OAuth2
- Subscribing or registering to use the API Platform, MTD enrolment, de-enrolment, registration for VAT, Beta services, etc
- Issues integrating with the API Platform (e.g. setting up an application

[2020-06-22 09:07] LukeHirst opened #784 "Internal Server Error - Production"
# Bug report

You must read the information below before you submit a bug report.

The MTD API team cannot help if your bug report is about:

- Fraud Prevention Headers
- Issues relating to OAuth2
- Subscribing or registering to use the API Platform, MTD enrolment, de-enrolment, registration for VAT, Beta services, etc.
- Issues integrating with the API Platform (e.g. setting up an application/acc

[2020-06-22 09:36] hmrc-api-team commented on #784
Hi @LukeHirst,

From the look of our logs there was some temporary issue with one of the services which we retrieve our data from. This was then being surfaced up to you as an INTERNAL_SERVER_ERROR. The issue looks to have resolved itself over the last hour, so if you send the request again it should hopefully work. Please keep us updated if these issues persist.

Kind regards,
MTD API team

[2020-06-22 09:39] hmrc-api-team commented on #783
Hi @stuartajd,

Is this an issue you're having in production, or in one of the test enviroments?

Kind regards,
MTD API team

[2020-06-22 09:49] stuartajd commented on #783
@hmrc-api-team

Thanks for the reply! Clears that all up, I did assume during my postman tests that it was random, but just wanted to double check!

[2020-06-22 09:49] #783 closed

[2020-06-22 10:09] hmrc-api-team commented on #783
Hi @stuartajd,

Apologies for any confusion caused. The data we return in the test environments is randomised.

Kind regards,
MTD API team

(Just reposting this to remove the edit history)

[2020-06-22 10:11] LukeHirst commented on #784
This does not seem to have resolved the issue, as returns are time sensitive we need a resolution to this issue.

[2020-06-22 10:21] hmrc-api-team commented on #784
The new failures appear to have been caused by the same underlying error as last time. I can see successful requests to this endpoint between your attempts so it doesn't appear to be an availability issue. I'm afraid you'll have to contact SDSTeam@hmrc.gov.uk as we on the API team aren't able to investigate potential data issues in the production environment.

Kind regards,
MTD API team

[2020-06-22 10:27] LukeHirst commented on #784
Would it be possible for yourselves to ensure that we get a communication from the SDSTeam today?

I have sent an email in tandem with setting up this github ticket, this is very time sensitive and needs a satisfactory response for the client

[2020-07-07 09:32] OrenIn opened #789 "Obligations periodKey return on Test API"
When using the test environment, we are getting the obligation with the periodKey field at the start of the string

{"obligations":[{"periodKey":"XXXX","start":"2017-01-01","end":"2017-03-31","due":"2017-05-07","status":"F","received":"2017-05-06"},

We used to get it as the last field or one before the last earlier

{"obligations":[{"start":"2017-01-01","end":"2017-03-31","due":"2017-05-07","stat

[2020-07-07 09:50] hmrc-api-team commented on #789
Hi @OrenIn,

Aesthetically the response has slightly reordered yes, although JSON as standard is fundamentally undordered and we can't guarantee the order it will render in after it leaves our platform.

As such we will always suggest that you build to our responses disregarding the order that it may come back in within the test environment or in the examples in the documentation.

Thanks,

@hmrc-

[2020-07-07 09:56] OrenIn commented on #789
Hi

Would it be the same in production as we are about to submit to the live system ? or is the format fixed in live production ?

[2020-07-07 10:09] hmrc-api-team commented on #789
Hi @OrenIn,

Our advice would be that regardless of environment, you should not take into account the expected order of responses.

As it stands the same response should be returned from Prod as from the test environment, but in an attempt to be absolutely clear, we can never guarantee the order that you will receive the response as JSON is by definition an unordered set of keys and pairs.

Thanks

[2020-07-17 10:47] GaryThePlasterer opened #790 "Received an unexpected EOF or 0 bytes from the transport stream."
Hi,
Everything was working for our clients in March when they submitted their March VAT. At some point from then to now we are not getting the following message:

**Received an unexpected EOF or 0 bytes from the transport stream.**

Even with Hello World API we get the message. Can someone help as to what the issue could be?
Sample of code.
static void TestHttpGET(Args _args)
{
    str destination

[2020-07-17 14:31] MatthewJWalters commented on #790
Have you checked that you are using TLS1.2 or higher. I remeber earleir versions being unsupported but thought that was earlier than March.

[2020-07-17 14:41] GaryThePlasterer commented on #790
Hi Mathew,
I'm having the tech team check the server and .NET version. It could be the server has an old .NET . It's an old third party system with MTD built on top and Tls1.2 is not an option.

![a](https://user-images.githubusercontent.com/68425173/87798241-a7b14c80-c843-11ea-87e2-38bda92ce385.jpg)

Maybe the server has a default setting and all system can use it.

[2020-08-04 11:29] FIFernandes commented on #308
@ghost!

I'm am working on OAuth 2.0 authorisation code for an access token" of the HMRC Tutorial. I am trying to get an Authorization Code using OAuth2Authenticator, configure and the Authorize button.

What am I missing?

![2020-08-04_12-27-16](https://user-images.githubusercontent.com/11407431/89288767-1406bb00-d64e-11ea-994f-14a0fa2b80d9.jpg)

[2020-08-05 09:50] highlysceptical commented on #308
This might help to get you started ...

First, you need to request an Authorisation Code :-

  begin
    AccessToken := {Your access token};
    AuthorizationEndpoint := GBaseURL + '/oauth/authorize';
    ResponseType := TOAuth2ResponseType.rtCODE;
    TokenType := TOAuth2TokenType.ttBEARER;
  end;

  begin
    Authenticator := OAuth2;
    BaseURL := URL {The URL you are trying to access};
    Con

[2020-08-05 10:17] FIFernandes commented on #308
One thing I am not sure of is the RedirectionEndpoint URI. My application is an MS windows exe not a website.
AccessToken := {Your access token};  on line 3, which token is this if it is to be generated.

Thank you very much for your help.

[2020-08-08 07:27] highlysceptical commented on #308
My application is a Windows exe as well.

If I remember correctly, I selected a port at random and made my RedirectionEndpointURI https://localhost: {my selected port number}.  I then registered the URI on the HMRC Developer Hub (Application Details | Redirect URIs). You then need to set the OAuth2 RedirectionEndpoint to the same value.

There is an error in my code though.  You obviously do not k

[2020-08-08 07:46] FIFernandes commented on #308
Thank you very much for this, much appriacted. I will give it a go

[2020-08-09 21:10] highlysceptical commented on #308
Let me know how you get on.

[2020-08-10 09:51] JeeBeePee opened #796 "New status for open return during current period"
# Feature request
**Is your feature request related to a problem? Please describe.**
Submissions for open returns are rejected until the period end date has passed. A good user experience necessitates that a user be prevented from attempting to submit a return that will definitely fail, due to the period end date being in the future. This requires business logic in the application to determine whe

[2020-08-10 14:51] FIFernandes commented on #308
I am trying to request the AuthorisationCode for hello/application and I get. I have set up the redirect URL.

{"code":"INVALID_CREDENTIALS","message":"Invalid Authentication information provided"}

procedure TForm3.btnReqAuthorisationCodeClick(Sender: TObject);
var
  jValue: TJSONValue;
  sClientID, sClientSecret: string;
  sToken, sAuthCode: string;
begin
  mmJSONmsg.Lines.Clear;
  sClientID :=

[2020-08-10 18:29] highlysceptical commented on #308
At the moment, I cannot spot what you are doing wrong.  However, the choice of port 80 seems rather odd, and could be your problem.  That port is generally used for other things, so I would suggest finding a port that is not currently in use, and setting that as your redirectendpoint uri.

Other than that, I cannot currently see why it doesn't work, as I have just successfully run it on my compute

[2020-08-11 10:58] FIFernandes commented on #308
OK let's recap
1. I have changed the port 1434 (also changed at HMRC).
2. I use the sandbox https://test-api
3. Ok, I don't have the Tfrm_OAuthWebForm setup, so that's what I am looking at (I was under the assumption that the RESTResponse.Content would hold the authorization code from HMRC).
4. Also I assumed that filling in the configure below would get the authorization code.

Can you send me th

[2020-08-11 23:32] highlysceptical commented on #308
As far as I am aware, the only way to get an Authentication Code is to interract with the HMRC website, hence the requirement to use a mechanism such as Tfrm_OAuthWebForm.

When you issue the RESTRequest above

begin
Params.Clear;
Params.AddItem('scope', 'hello read:vat write:vat', pkGETorPOST);
Params.AddItem('client_id', OAuth.ClientID, pkGETorPOST);
Params.AddItem('redirect_uri', 'http://localh

[2020-08-12 09:41] FIFernandes commented on #308
I am getting Error 401 on the RESTRequest.Execute;

{"code":"INVALID_CREDENTIALS","message":"Invalid Authentication information provided"} So I need to find out whats wrong there.

[2020-08-12 15:21] GrahamHDawson commented on #796
I don't think that's a worthwhile change, end-users are accustomed to waiting until after the end of a VAT period before they do a return, and if they attempt a return too early then you get the 403 TAX_PERIOD_NOT_ENDED error which is easy to trap and display to the user.
Also the date a return is 'submittable' can change to the the status of the business.

[2020-08-12 20:20] highlysceptical commented on #308
As I don't understand what you have created, I cannot really comment on it.  However, I have written a procedure for you, which you can download from ftp://ftp.acousticdesign.co.uk/, which, when used with the GetAuthorisationCode procedure I gave you yesterday should enable you to connect, get an authorisation code and convert it into an access token.  (You will need to provide a username and pass

[2020-08-12 23:13] JeeBeePee commented on #796
They're not though. The reason that logic has been added into our application to prevent users submitting returns during the current period is because there were numerous customer complaints either that they couldn't file a return and didn't understand why, even given an error message, or that they'd spent some time following the workflow to submit a return (for bridging software, this can involve

[2020-08-13 14:30] adamdavi3s opened #797 "Live API now sending blank instead of 0 amount on payments"
Hi All,

We have had a spate of customers with an error in our application, its a simple one whereby we're expecting an number to come back in the get payments call, however it is returning a blank amount rather than a zero amount.
it is an easy enough fix, but this behaviour doesn't match the endpoint specification:

amount
number
required

The payment value.
Defines a monetary value (to 2 decima

[2020-08-13 14:42] GrahamHDawson commented on #796
Correct, when the business folds or de-registers for MTD VAT due to changes of status to for example charity or not for profit organisation.

[2020-08-13 14:52] MarkAKelly commented on #797
Hi @adamdavi3s,

Just to clarify, are we saying that the amount field is not being returned at all, i.e

[code]
or that the JSON is malformed, i.e
[code]
Do you know when this behaviour started to occur?  We will look into this right away.

[2020-08-13 15:13] adamdavi3s commented on #797
Hi @MarkAKelly ,

I'm not able to get the exact response body as I can't observe the behaviour on any of my systems, it is just a number of customers now reporting it. I will see what I can get out of them but it may not be quick! Appears to be a very recent (last week) issue

[2020-08-13 15:59] adamdavi3s commented on #797
@MarkAKelly  Apparently the first reported instance was last Tuesday

[2020-08-14 10:03] FIFernandes commented on #308
Ahh, getting somewhere, I was going wrong with the Tfrm_OAuthWebForm. I will work on it the next few days.

I owe you are beer.

![2020-08-13_10-14-02](https://user-images.githubusercontent.com/11407431/90238165-5fbf1e80-de1d-11ea-8ccb-8d1b795f2e0b.png)

[2020-08-21 17:41] JOMYJAMES opened #799 "Fraud Prevention Headers : Header required (found in 100% of your requests)"
What is mean by this?

[2020-08-24 14:37] cb-rfk commented on #799
It's not very intuitive I agree, but "found in 100% of your requests" means the error was found in 100% of your requests, not that the header was found in them... 😂

[2020-08-24 14:39] JOMYJAMES commented on #799
HA HA HA... 👍

[2020-08-24 14:40] JOMYJAMES commented on #799
•	gov-client-screens
o	errors
	Header required (found in 100% of your requests)
 I have Send this header...But showing this...No idea

[2020-08-24 14:43] JOMYJAMES commented on #799
then Found in 40% means 60% are correct ...Am I right?

[2020-08-24 14:58] #799 closed

[2020-09-04 07:35] Oms-J opened #801 "Percentage encoded header values"
Which are the headers need to do percentage encoding in WEB_APP_VIA_SERVER method?

Do I need to encode the Government-Client-Timezone,Gov-Client-Browser-JS-User-Agent headers when submitting?

I have read the document but did not get much clarity. Could any one help me?

[2020-09-08 13:41] balexandre commented on #713
@MrNicks did you fixed? I would see the OAuth 2.0 `scope` that you are using as it now need to contain the correct scope or you will get that error...

I'm just trying to find what is the right scope in order to use the [Test Fraud Prevention Headers API](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/txm-fph-validator-api/1.0)

I've tried with `read:vat` as found in seve

[2020-09-25 16:38] peteralarkins opened #802 "broken link"
**Note: Please read before raising an issue**. This repository's issues are reserved for **Technical** queries relating to the VAT-API Only.
If your issue falls into any of the below categories please contact SDST at SDSTeam@hmrc.gsi.gov.uk:
- Issues relating to subscribing/registering to use the API Platform, MTD enrolment / de enrolment  / registration for VAT / BETA etc
- Issues relating to OAu

[2020-09-29 12:57] revk commented on #723
We went through all the same hassle. Making it so "difficult" just encourages people to "fake" the data and give them what they want, which is not actually helpful for anyone. They failed to understand that WEBAPP is not appropriate for something that is web server based with no "app" at all on the client, not even javascript. I have been seriously tempted to make a variation of the VAT submission

[2020-10-07 01:30] phpfour opened #804 "Minor date issue on Changelog wiki"
The Changelog wiki has a revision date written as 2019, which should be 2020. Not something big but kind of puts a dilemma.

![image](https://user-images.githubusercontent.com/171715/95277158-f1bc3400-086e-11eb-84d6-a38c521e564e.png)

[2020-10-15 16:59] crieup opened #807 "Obligations periodKey switch"
Hello,
We have been notified by our compliance team that HMRC is currently migrating VAT customers to a new platform. All customers who currently have a period key which is in fully numeric format (NNNN), will see this change to alphanumeric format (NNAN/NNAA). Period keys for quarterly returns will change to a format of NNAN & monthly and annual will change to NNAA.

For this reason, HMRC strongl

[2020-10-21 09:36] adamdavi3s commented on #807
I wasn't aware of this change but would like to know the answer to this as well please

[2020-11-05 12:08] AlexJSH commented on #658
We are currently seeing a number of clients whose Access Token's will not refresh but have their Refresh Token has allegedly not expired yet - eg one I'm looking at right now the Refresh Token is due to expire at 2PM this afternoon but the Access Token refresh attempt return 'refresh_token is invalid' error.
This means our software is not currently able to point them to the 'Grant Authority' web p

[2020-11-05 12:10] AlexJSH commented on #658
To clarify - we are seeing enough cases that it is unlikely that these Access Tokens are being invalidated by being refreshed via a different route.

[2020-11-05 12:41] mathiasbanda commented on #658
We are getting loads of those and advising our users to go through the authorization process from the start.

[2020-11-05 13:54] nigelrainer commented on #658
We have had a number of these in the last week and they have been happening after receiving a strange error on return submission.  The error comes back as HTML rather than JSON and just says “Oops, an error occurred”.  At this point the token appears to be invalidated - we have informed SDST who are apparently investigating.

[2020-11-05 15:24] AlexJSH commented on #658
Thanks for quick responses
@mathiasbanda - yes that's the route we are taking everyone too - its a pain though as the software is set to auto lead them there once past expiry date of refresh token however this unexpected expiry is generating a support call each time.
@nigelrainer - our's are definitely not due to any error occurring on return submission - good luck with that one.

[2020-11-05 19:05] mathiasbanda commented on #658
@nigelrainer html that's a first i have heard of from day 1 of mtd. Should be json, please us all posted if u get to the root cause, cheers

[2020-11-06 14:07] JeeBeePee commented on #658
We also saw the /returns endpoint spitting out an HTML page for a HTTP 500 error, but that seemed to go away after an hour or so. SDST didn't even pick it up and don't seem to have investigated it properly, merely telling me that it resolved itself.

Today, we're seeing HTTP 401s come back from /returns, despite passing the same access token that we've just successfully hit the other endpoints wit

[2020-11-06 15:29] nigelrainer commented on #658
@mathiasbanda I've just received the following from SDST:

"We have received the confirmation that there was an issue with one of the back-end systems, I can confirm a fix has now been implemented which will prevent the HTML error recurring."

[2020-11-09 15:04] hmrc-api-team commented on #807
Hi

Apologies for the late reply

I can only repeat the comms sent out by the Software Developers Support Team (SDST) on this because as the frontend API team, we don't have any additional information on what periodKeys to expect.

The original email from SDST stated:

Period keys for quarterly returns will change to a format of NNAN & monthly and annual will change to NNAA.
For this reason, we st

[2020-11-17 17:04] aarshaw commented on #678
This would be amazing

[2020-11-18 08:52] Thomas-Schubert commented on #678
Does anybody have an update or URL regarding an API to check the validity of UK VAT numbers after December 2020?

[2020-11-18 09:46] cb-rfk commented on #678
We had the following email yesterday:

Dear Developer,

On 1st December 2020 the Check a UK VAT Number API will be released into the live Production environment.

We have decided to release the API ahead of the scheduled EU Transition of 31st December, as this will allow new users time to consume the API and many of you have expressed an interest in using the functionality as soon as possible.

Fo

[2020-11-19 06:49] adrianlawrence commented on #678
Oh great 1st December release then up to a 10 day wait (working days presumably) for approval and only then can we start testing ahead of a 1st January go live, not to mention Xmas shut down / holiday in between.  Not the best planning or preparation and as the Brexit negogiations are still ongoing can still change at any time..

[2020-11-23 17:11] AlexJSH commented on #658
I've been tracking some due to expire refresh tokens over the last week and have full proof that they are expiring early. The two I followed had been disabled on the clients system so there was no way they inadvertently invalidated the tokens. I found the following:

Refresh Token Due to expire 24/11/2020 16:12:27
- Worked on 20/11/2020 @ 09:58
- Failed on 23/11/2020 @ 17:00 with "refresh_token is

[2020-11-23 17:23] hmrc-api-team commented on #658
Hi @AlexJSH,

How are you determining the expected expiry date-time for your tokens? We weren't aware that this information was being exposed to users.

Kind regards,
MTD api team.

[2020-11-23 20:02] JeeBeePee commented on #658
We've also seen this. SDS Team claims there's no issue.

Another one we have is authorisations that are older than 18 months still returning access tokens, but the access tokens don't work - we get a 403 back. Users have to revoke our app's authority with HMRC manually, then re-authorise. Again, SDS Team claiming nothing wrong.

[2020-11-24 10:56] AlexJSH commented on #658
@mtd-api-team A very interesting question! Our MTD comms DLL was written by a third party and when we run the authorise process it returns the access token with expiry date/time (4 hrs) and the refresh token with expiry date/time (18 months) and i was told that these expiry dates came from HMRC but maybe they are calculated.

We have been storing these expiry dates and using them as triggers for t

[2020-11-24 11:28] cb-rfk commented on #658
@AlexJSH
Yes, we were also lead to believe at the start of development that tokens expired after those timeframes and we calculate and save their expiry timestamp accordingly.

We are also seeing a few examples of users' tokens expiring before these calculated dates, and have had to add functionality allowing users to clear their tokens and re-authenticate via the gateway.

[2020-11-24 11:28] mathiasbanda commented on #658
The 4 hour expiry time on the access token is correct and it comes from HMRC. I believe the 18 months is correct too. I say believe because I have actually never bothered with it, i excluded it from our design decisions. In the early days I found the 4 hours was a bit hit and miss so I we don't rely on it.

[2020-11-24 11:56] mathiasbanda commented on #658
I wasn't been a while so I went and looked. Access tokens definitely come with an 'expires_in' value when they're issued. So I guess could easily be calculated but equally can be stored as issued

[2020-11-28 14:59] katron24 opened #829 "cannot create ssl/tls channel"
# Support request

You must read the information below before you submit a support request.

The MTD API team cannot help if your query is about:

- Fraud Prevention Headers
- Issues relating to OAuth2
- Subscribing or registering to use the API Platform, MTD enrolment, de-enrolment, registration for VAT, Beta services, etc
- Issues integrating with the API Platform (e.g. setting up an application

[2020-11-28 15:01] katron24 commented on #829
Hi, after working for over a year my MDT application fails with 'the request was aborted: Could not create SSL/TLS secure channel'

I cannot work out what has changed. has anybody else come across this problem.

thanks
Ron

[2020-11-29 12:25] katron24 commented on #829
hi the solution is the line

        System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls12. Thanks to anybody hat has looked at this.

in vb.net using rest.

[2020-11-29 12:25] #829 closed

[2020-11-30 01:58] Grantymtd opened #830 "C# extract authorisation code from redirect url"
How do I extract the authorisation code from the redirect URL after authority has been granted, please. I am using C#

[2020-12-02 16:47] AlexJSH commented on #829
@katron24 Well found - i saw the original message just now and though - hmm - TLS Error.

The background is that sandbox has required TLS1.2+ since June 2020 in preparation for production environment changing to this minimum at some point 'imminently'.

Were you getting the error on sandbox or production - I'm interested if production has switched over yet as we haven't had a notification to say i

[2020-12-02 17:32] katron24 commented on #829
Hi AlexJSH,

it was on the production. within the last fortnight i think.

thanks

[2020-12-05 11:50] AlexJSH commented on #829
@katron Thanks - sounds like the security upgrade has gone live then - but i've not seen any notification of that.

[2021-01-03 11:49] KenRandall opened #832 "Gateway/VRN Mismatch"
We are finding quite often when users have multiple Government Gateway ID's that they use the wrong one to authorise our software. What is the best way of checking that the VRN is associated with the Gateway ID?

[2021-01-06 12:08] ShoLongBruce opened #833 "Invalid Refresh Token"
A user has needed to re-authorise as their authorisation code has expired. They have managed to grant authority and managed to get the access tokens.

However when they try to getObligations, they're getting the InvalidRefeshToken error. Normally if this happens, we just go through the authorrisation process again and works a second time.

We have tried re-authorising several times and got the acc

[2021-01-06 14:00] hmrc-api-team commented on #832
Hi Ken

Currently there is no way for the API team to check which VRN is being authorised prior to hitting our service. I can only recommend users login to the tax platform frontend and check their credentials before authorising the vendor application.

I would suggest contacting the Software Developers Support Team on SDSTeam@hmrc.gov.uk and making them aware that this is an issue, as we are not

[2021-01-06 14:02] hmrc-api-team commented on #833
Hi @ShoLongBruce

We are not aware of any issues, and everything is working on our side. Is it possible that the user has supplied a different VRN to the credentials they used to authorise the vendor application. Or in other words, they may be authorising the wrong VRN?

Because we cannot see what is happening within the auth service, if this problem persists please contact the Software Developers

[2021-01-06 15:27] ShoLongBruce commented on #833
I have checked and double checked the VRN, and credentials. I have now contacted the SDS team

[2021-01-07 10:02] RichardD2 opened #834 "Fraud Prevention Headers v3"
Yesterday you sent us an email telling us that we need to update our application to use v3 of the fraud prevention headers:
[Desktop application direct - HMRC Developer Hub](https://developer.service.hmrc.gov.uk/guides/fraud-prevention/connection-method/desktop-app-direct/)

Having updated our application, the fraud prevention test API is now rejecting our requests.

`Gov-Client-User-Agent=os-fami

[2021-01-07 10:22] MrSent commented on #833
I'd remove all tokens from wherever you store them, and try re-granting of authority. Basically starting afresh as if the customer has never used the system. As for contacting SDS Team, my experiences so far have been that it's largely a waste of time.

I had recent issues with authenticating where it seems that my MTD module was defaulting to TLS v1.0 as it was built against .NET 4.5. Overriding

[2021-01-07 10:33] cb-rfk commented on #833
Hi @MrSent

Can you elaborate a bit further on the TLS issue you had? We've been having problems with new user sign-ups since mid Dec whereby they get redirected to HMRC, log into the Gateway and attempt to complete the App authorisation step, but then get a Not Authorised error when returning to our application.  Is this similar to what you saw?

Cheers.

[2021-01-07 10:34] ShoLongBruce commented on #833
Thanks for that. Yes we always clear down everything when re-authhorising that way we're sure everything is up to date. Suprislingly SDS Team has come back to me. They're saying my error is not a refresh token error and I'm actually getting a 403 error which implies that the  wrong User ID & Password details have been used for the authorisation process. I have left them to investigate with HMRC an

[2021-01-07 10:36] rosco1974 commented on #834
Looks like you've jumped the gun!  You would think they would apply the changes to the test api before issuing the email to developers.

[2021-01-07 10:53] MrSent commented on #833
Sure. My module was written in C# and built against .NET 4.5. It seems that .NET 4.5 will default to TLS v1.0. I didn't want to change the .NET version because that causes me other problems elsewhere.

The errors I kept getting were when the customer was trying to do anything like get obligations or authenticate and I would get an authorisation error OR if the customer was new to our module, I wou

[2021-01-07 11:17] cb-rfk commented on #833
@MrSent

Thanks for that.

Doesn't sound the same problem that we've got as pre-existing users are unaffected, it's just the first application authorisation for new users we are stuck with.

Will get some users to try again and then email SDST with details...

[2021-01-07 11:26] hmrc-api-team commented on #834
Hi @RichardD2

Please refer to #565:

The developers maintaining the code in the vat-api do not work with Fraud Prevention Headers. Please contact SDSTeam@hmrc.gov.uk for any queries about Fraud Prevention Headers.

[2021-01-07 11:26] #834 closed

[2021-01-07 12:02] MrSent commented on #833
There are a couple of things you could look at with new users. The HMRC gateway account of the user that is trying to authenticate must be enabled for MTD. Whoever is the administrator of the gateway account for the customer can log in and see all users at that company and they must enable specific users to allow them to use MTD. Or you must authenticate by logging in with the gateway account admi

[2021-01-07 12:19] cb-rfk commented on #833
It is so frustrating when things work for one customer and not for another and we have no way of debugging the process! 😂

But what you've added makes total sense and definitely something we can follow up on with the users, so thanks again.

[2021-01-08 12:08] ShoLongBruce commented on #833
User managed to get new gateway id and pwd. All working now. Thanks

[2021-01-08 12:08] #833 closed

[2021-01-08 12:46] MrSent commented on #833
Glad to have been some help.

[2021-01-11 16:57] mPisano commented on #830
Set the return type to urn:ietf:wg:oauth:2.0:oob for you application in HMRC and on the request.
You need to use the embedded browser and look at redirect page with title "Success code".
There was also a few reg changes to make sure winforms enabled then correct browser with javascript.
Refer to my app at https://github.com/mPisano/MTDCompliance
HTH - Mike

[2021-01-15 17:52] MathewRimmington commented on #784
This continues to be an intermittent problem for users. Is anyone actively looking into this issue?

It is both time consuming and frustrating to explain to customers that even though our software is presenting the error, it is a HMRC fault causing it.

This has been outstanding since June. Six months and beyond is not an acceptable timeframe to fix such a serious fault.

[2021-01-18 11:57] MathewRimmington commented on #784
HMRC have advised that the specific issue I reported last week is happening when customers switch from a Partnership to a Limited company. Hopefully the API can be updated soon to either fix problem or provide a meaningful error message.

[2021-01-20 20:28] crazypabs commented on #518
Did you ever get this sorted? I have the exact same issue and I have tried more ways than there are Dalmatians in the file 101 Dalmatians.

Cheers

TIA

M@

[2021-01-21 11:40] youriv2019 commented on #518
I got it working yes.

Did you create an authorisation first with the test user? That seems to be the problem.

$code = $_GET['code'];

 // Build a query string of POST data.
 $post_field_string = '';
 $post_field_string .= "client_secret=$client_secret";
 $post_field_string .= "&client_id=$client_id";
 $post_field_string .= "&grant_type=authorization_code";
 $post_field_string .= "&redirect_uri=$

[2021-01-21 12:32] crazypabs commented on #518
Hi Youri,

That's  interesting, I am using a test user when I get this response. I didn't know that there was an issue with the test users in the API that posts the returns. That's awkward.

So did you use your above code to work on the test user?

Cheers

M@

[2021-01-21 12:52] youriv2019 commented on #518
I have not tried with sandbox just yet, will do soon as they want more and more fraud headers!

But my code worked fine with the live API yes.

Kind regards,

 Youri
	 (https://www.liminicoffee.co.uk/)
	01274 911 419
	please tell us how we did today... (https://www.liminicoffee.co.uk/review_service.php)

On Thu, Jan 21, 2021 at 12:32, "crazypabs"  wrote:
	Hi Youri,

	That's interesting, I am using

[2021-01-22 12:50] youriv2019 commented on #518
I managed to get it all fixed now. Let me know if you need some help
Kind regards,

 Youri

  (https://www.liminicoffee.co.uk/)
	01274 911 419
	please tell us how we did today... (https://www.liminicoffee.co.uk/review_service.php)
On Thu, Jan 21, 2021 at 12:32, "crazypabs"  wrote:
 Hi Youri,
 That's interesting, I am using a test user when I get this response. I didn't know that there was an issue

[2021-01-28 09:46] nigelrainer commented on #658
We have had a number of further occurrences of getting back an HTML error rather than a JSON message with the content "Oops, an error occurred".  This is an example:

<head>
        <title>Error</title>
        <style>
            html, body, pre {
                margin: 0;
                padding: 0;
                font-family: Monaco, 'Lucida Console', monospace;
                background: #E

[2021-01-30 14:32] mPisano commented on #830
Look at the Browser sub and Keep in mind there are two methods.
Either use your own browser and copy paste the code, or use the embedded and hook the events and sniff for the success page.  Let me know how it goes... Mike

[2021-02-02 14:33] JeeBeePee opened #837 "403 when requesting tokens"
I know this isn't for prod issues, but as usual I'm not getting a response from the SDS team.

My application is down in prod because I get a HTTP 403 when requesting tokens. Using same credentials as ever. Can't get into developer hub to see what's going on because 2FA doesn't seem to work and I'm getting no response from the team that can temporarily disable 2FA either.

Anyone else having the s

[2021-02-02 17:12] JeeBeePee commented on #837
One copy-pasted reply from someone on the SDS team who didn't read my original email. And nothing since.

A whole day explaining the situation to angry customers who are unable to file returns.

Apparently no way of escalating when there's nothing coming back.

Does anyone from the SDS team read this board?

[2021-02-02 20:05] mPisano commented on #837
I do get an 403 trying to login to https://www.access.service.gov.uk/login/signin/creds
But the Developer portal @ https://developer.service.hmrc.gov.uk/developer/login  works fine.

I don't use 2FA for Application , just Authenticator app for portal, but have no current oAuth issues in Production or sandbox?

**As far as your oAuth 403, Make sure  TLS 1.2 is Enabled**

HTH - Mike

[2021-02-02 22:12] JeeBeePee commented on #837
Thanks for responding Mike - I'm on TLS 1.2 and have been for yonks. Bit of a head-scratcher.

[2021-02-02 23:56] mPisano commented on #837
Whats the client environment and yours?

[2021-02-03 00:03] JeeBeePee commented on #837
It's a web app so I own the whole deployment. FWIW, Tomcat in Java on Linux using Otlu for OAuth2.

[2021-02-03 00:10] mPisano commented on #837
Hosted on your own servers?
Are their any clients on this platform\Server\Build that work?
How long did it work for?

[2021-02-03 01:10] mPisano commented on #837
Also - The HMRC notes elude to 403 "codes" (ie INVALID_SCOPE)
https://developer.service.hmrc.gov.uk/api-documentation/docs/reference-guide#redirect-uris

Also From what I remember the Redirect URL during the Auth needs to Match the HMRC Portal string for the application..
Other things like TLS, possible firewall\NAT and even System Clock come to mind...

[2021-02-03 09:18] JeeBeePee commented on #837
Really appreciate the suggestions Mike, but it's none of those. Been working now for almost two years and no changes made on my side for months.

The thing that annoys me most is that the SDS team are completely unreachable and don't seem to care. This is the last system I'll implement against an HMRC API.

[2021-02-03 09:49] PJR-slo commented on #837
This is the last system I'll implement against an HMRC API.

+1

This is costing us a fortune :(  We are discussing withdrawing our product - let some other mug bare the ongoing costs and headaches.

[2021-02-03 14:16] mPisano commented on #837
@PJR-slo  Are you saying you are having the same issue as JeeBeePee?

The only thing similar we had was two months ago a windows 7 user could not authenticate.  It was because of TLS and we assumed the user clicked Default in Internet Explorer options which is SSL on 7. The User insisted he never did which make me wonder if HMRC changed anything on their backend. For that user clicking enable TSL1

[2021-02-03 14:22] PJR-slo commented on #837
@mPisano No, fortunately, we are not having these issues; just a few never-ending minor niggles which we cannot get to the bottom of.

[2021-02-03 16:20] JeeBeePee commented on #837
Finally managed to resolve the issue and thought I would post the resolution here, as it's non-obvious.

When my app fails to get a valid response from an endpoint, it retries.  For the business endpoints, it is coded to retry every 2 seconds for a total of 10 seconds.  However, for the token endpoint, no such logic is implemented - it hammers the endpoint for 30s.  I will have to look at the OAut

[2021-02-03 20:06] mPisano commented on #837
Glad you're operational again!
Very strange, luckily you had more than one public ;)

[2021-02-04 22:52] mossintech opened #838 "Getting an Access Token - redirect_uri is invalid"
Hi
I cannot find out why my code keeps getting this error.  I am successfully getting a call back after logging and clicking on "Grant".  My code then attempts to get an access tokoen but fails with the redirect message.    java code below
  request = OAuthClientRequest
                        .tokenLocation(tokenURL)
                        .setGrantType(GrantType.AUTHORIZATION_CODE)

[2021-02-05 03:17] mPisano commented on #838
I'm unfamiliar with the libs, I'm a Windows guy,  but your error is "redirect_uri" is invalid and your own exception is:

_Exception: java.lang.RuntimeException: OAuthProblemException{error='invalid_request', description='redirect_uri is invalid', uri='null', state='null', scope='null', redirectUri='null', responseStatus=400, parameters={}}_

Why is everything null? What is you redirect set to on

[2021-02-05 11:16] JeeBeePee commented on #838
Looks like you've initialised but failed to assign a value to the strings used to build your token request.

[2021-02-05 20:05] mossintech commented on #838
@mPisano as to why so many nulls, I am assuming this is the response from HMRC and they are not returning a URI etc with an error; possibly a generic error response.    This code is not new, but not been used for a couple of years and worked back  in 2019.  Old software being pressed back into service.
@JeeBeePee String are all fully populated with the correct values, the record in question was al

[2021-02-09 10:20] MrSent commented on #829
The issue with this is that you're hardcoding the TLS level to 1.2. When things inevitably move to 1.3 or higher it'll require a code change. The application I wrote is compiled against .NET 4.5 and from what I've read, when you make a web request, 4.5 chooses the TLS version and it defaults to 1.0. However, you can override this behaviour and tell .NET to allow the OS to decide which is how it sh

[2021-02-09 14:04] mPisano commented on #838
I would log back in to the Developers portal and check all your sandbox or production settings and make sure they match what your sending. I would also check your headers and most importantly your TLS settings.
TLS 1.2 was not mandatory prior to I believe June of 2020, If this code use to work and now doesn't I would triple check this.

I know you're in Java but if you use C#\VS at all you can try

[2021-02-09 14:24] mPisano commented on #829
Agree +1 @MrSent  - Never hard code, especially when there is an XML override.

I upgraded my project from 4.5 to 4.7 for better high DPI support not knowing that it would effect TLS enforcement.
Authentication failed, lost a few hours in a sniffer and code diff's and added DontEnableSystemDefaultTlsVersions=false

[2021-02-19 15:45] paulfeakins commented on #531
Also awaiting a response on this.

[2021-02-19 15:58] hmrc-api-team commented on #531
Hi @paulfeakins

As previously stated, the Fraud Prevention Headers are not managed by the VAT API team so we are not able to assist further. Any further queries should be directed to SDSTeam@hmrc.gov.uk who will be able to liaise with the relevant team to help you reach a resolution.

Kind regards

[2021-02-19 16:36] paulfeakins commented on #487
"they want IP addresses assigned to the current device, e.g. those reported by 'ipconfig'."
Ok but how can you get those from a web browser?

[2021-02-19 16:47] paulfeakins commented on #531
Thanks, have emailed.

[2021-03-03 18:51] craigfrancis opened #842 "VAT Collection Date from returns API"
# Feature request

**Is your feature request related to a problem? Please describe.**
With the old XML API, the `VATDeclarationResponse` would include the `CollectionDate`, so I could easily record when the VAT payment is expected to be collected.

**Describe the solution you'd like**
The [response from the `returns` API](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat

[2021-03-16 14:43] alanfinnharris opened #844 "The 'organisations/vat' API is currently unavailable"
Hi SDSTeam.
We are experiencing the [503] Service Unavailable error today, 'The 'organisations/vat' API is currently unavailable', can you please tell us if there is a problem with the service today.
Many Thanks,
Alan

[2021-03-16 14:48] wadewomersley commented on #844
2nd'd

[2021-03-16 14:50] cb-rfk commented on #844
We had an alert via statuspage.io this morning:

VAT MTD Service Unavailable

Incident status: Identified

The issue has been identified and a fix is being implemented.

Time posted

Mar 16, 09:58 UTC

Components affected

Production environment

Probably worth signing yourself up for the alerts too :)
 
--

[2021-03-16 14:53] alanfinnharris commented on #844
Cheers, thank you

[2021-03-16 15:17] osrec commented on #844
Is someone from the HMRC team aware of this? We have a number of users complaining of issues and the following status page provides no info: https://www.gov.uk/government/publications/making-tax-digital-for-vat-service-availability-and-issues/making-tax-digital-for-vat-service-availability-and-issues - makes it look like our software is at fault!

[2021-03-16 15:23] alanfinnharris commented on #844
For what it's worth it is mentioned here;
https://api-platform-status.production.tax.service.gov.uk/

[2021-03-16 15:40] osrec commented on #844
Thanks for this! They should probably link to this page on https://www.gov.uk/government/publications/making-tax-digital-for-vat-service-availability-and-issues/making-tax-digital-for-vat-service-availability-and-issues

[2021-03-16 16:36] cb-rfk commented on #844
Update from HMRC...

VAT MTD Service Unavailable
An update has been posted
We previously advised you that we would be undertaking scheduled maintenance to HMRC’s digital services in order to deliver a number of iterative enhancements to the functionality of the Making Tax Digital (MTD) for VAT service.

Unfortunately, following successful delivery of this functionality over the weekend, an issue h

[2021-03-16 22:01] JeeBeePee commented on #844
They never, ever update that page. I've asked them (SDS Team) to sort it out every time they have an outage, which is pretty much after every change they roll out. I always get a reply saying it's some other team's fault. They either don't appreciate how important it is to keep it updated, or they don't care.

[2021-03-16 22:02] JeeBeePee commented on #844
This is such horsesh*t. It's not just return submission that's borked, it's the whole service.

[2021-03-16 22:04] JeeBeePee commented on #844
Frankly, I'm tired of politely asking HMRC to sort out fundamental issues in the way they deliver the MTD services. Time to call them out for what they are. Rank amateurs.

[2021-03-17 09:48] hmrc-api-team commented on #844
Hi all,

In the interest of keeping discussion on topic I would like to remind you that this Issues page is for questions and issues pertaining to code within the vat-api repository. The team who maintain this code **are not the SDSTeam**; SDSTeam do not monitor this repository and therefore there is only so much help that we can give you. Questions about live support should be directed at SDSTeam

[2021-03-17 12:25] JeeBeePee commented on #844
We know this isn't for live issues. We're here because the support process is not fit for purpose and the comms to software providers and end users (via the service status page) are so bad. Sorry if a starred out mild swear upsets you, but you (you, HMRC, I don't care about your internal team structure) are not listening to polite requests for obvious and easily implemented changes.

We have been

[2021-03-17 12:51] hmrc-api-team commented on #844
@JeeBeePee

As you are aware, this is not the place to raise grievances about the live process; we have nothing to do with that process.

I will keep this thread open so other vendors know about vat-api being shuttered. However, please keep any further discussion related to the code in the vat-api or the thread will be locked.

[2021-03-17 13:31] hmrc-api-team commented on #844
Hi all, the vat-api is now unshuttered. Requests to vat-api should be going through successfully now so I'm closing this thread - please comment back if you still see 503 errors.

Regards

[2021-03-17 13:31] #844 closed

[2021-04-06 12:20] Grantymtd commented on #830
This works. Thank you

[2021-04-06 12:20] #830 closed

[2021-04-06 16:16] gbs-matt opened #848 "Requesting a new refresh token - documentation error"
- [X] Documentation
- [ ] API

**Describe the bug**
The **Request a new token** section in the [documentation](https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/user-restricted-endpoints) describes how the refresh token expires after 18 months.  It mentions the following:

The code returned in this scenario is actually **invalid_grant**,  This matches the **Refresh Token i

[2021-04-08 12:34] JeeBeePee opened #850 "PRODUCTION: HTTP 500 errors"
Just wondered if any other MTD providers are getting HTTP 500 back for every request in production?

Admin: I know this isn't for production issues and I'll close this as soon as the issue is resolved.

[2021-04-08 13:30] #850 closed

[2021-04-19 10:37] hmrc-api-team opened #851 "VAT API has been made temporarily unavailable"
Hi all,

A critical service downstream to us has had to be taken offline, so the decision has been made to temporarily block any incoming requests to the VAT API (to avoid us just returning `500` error messages to you guys).

We've made contact with the team who owns https://www.gov.uk/government/publications/making-tax-digital-for-vat-service-availability-and-issues/making-tax-digital-for-vat-ser

[2021-04-19 10:47] vitalcode commented on #851
Thank you, very much appreciated!

[2021-04-19 12:09] hmrc-api-team commented on #851
VAT API has now been made available again.

[2021-04-19 12:31] hmrc-api-team commented on #848
Hi @gbs-matt, I've raised this with the team that looks after that page. Thank you for bringing this to our attention.

Many thanks

[2021-04-21 11:22] NiraliB opened #852 "I can not get the response from Retrieve VAT liabilities and Retrieve VAT payments apis. Which Date range should be pass as a query parameter?"
I can not get the response from Retrieve VAT liabilities and  Retrieve VAT payments apis. Which Date range should be pass as a query parameter?

[2021-04-21 11:25] NiraliB commented on #768
Which date range should I have to pass in Liability and Payment api?

[2021-04-28 17:32] Grantymtd opened #854 "500-after test user sign in"
Lately (ie last few weeks), when I enter test users credentials in order to grant authority and to retrieve authorisation code, it takes me to this page below
![image](https://user-images.githubusercontent.com/75227407/116446656-139ef780-a84f-11eb-8910-5b7a4ad9b3fa.png)

Fiddler shows this to be a 500 error

I've emailed the online support team, and also SDSTeam, but none have responded to my quer

[2021-05-23 02:10] kdb119 commented on #854
Yes, exactly the same issue.  For me it's been happening since Tuesday the 18th May.  I've also received no response.

[2021-05-25 05:32] nmicoud commented on #854
Hi,
Same issue here ; we manage to got an answer which was to recreate a new user :-/
We did it and now we can have access.
Hope it helps

[2021-05-25 10:57] kdb119 commented on #854
Many thanks, that really does help.  I'll give that a try later.

[2021-05-31 08:12] lukaszszczygiel-sage opened #856 "Wrong response in case of error in Retrieve VAT liabilities endpoint"
Hi, I'm just checking the Retrieve VAT liabilities https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0#_retrieve-vat-liabilities_get_accordion

And I'm sending a request to sandbox like these
/organisations/vat/479828182/liabilities?from=2020-01-01&to=2018-12-31"

In response I'm getting something like these:
{"statusCode":400,"message":"DATE_RANGE_INVALID"}

I thi

[2021-06-01 08:44] alanfinnharris opened #857 "01-JUN-2021 - Organisations/vat' API is currently unavailable"
Hi,
Currently getting this response when we try to 'Read VAT' from the MTD for VAT API. Is the service down?

l_err_msg[503] - Service Unavailable
l_response{ "code": "SERVER_ERROR", "message": "The 'organisations/vat' API is currently unavailable" }

Thanks,
Alan

[2021-06-01 09:01] hmrc-api-team commented on #851
Hi all,

Due to problems downstream of us we've had to take the decision to temporarily block all requests to the VAT API.  We will try to keep you updated about the issues here or through the regular channels as the situation progresses.

Many thanks,
MTD API team

[2021-06-01 09:05] hmrc-api-team commented on #857
Hi @alanfinnharris,

We've had to take the API down this morning due to issues with one of our dependent downstream services. Updates should be given in #851 once we have them.

Kind regards,
MTD API Team

[2021-06-01 09:36] hmrc-api-team commented on #856
Hi @lukaszszczygiel-sage,

The VAT API is a legacy service which this team manages, but didn't originally build (and cannot substantially change). As such it contains some 'unusual' behaviours in places (especially when it comes to errors) which do not align to our current conventions and standards.

Typically we design our services to return something like:

`{
    "code": "FORMAT_FIELD_NAME",

[2021-06-01 09:46] hmrc-api-team commented on #851
Hi all,

The issues appear to have been resolved and the service should be back up now.

Kind regards,
MTD API Team

[2021-06-01 09:46] #851 closed

[2021-06-01 09:48] hmrc-api-team commented on #857
The issues appear to have been resolved and the service should be back up now.

Kind regards,
MTD API Team

[2021-06-01 09:48] #857 closed

[2021-06-06 13:21] craigfrancis commented on #842
While it's not an API, this web-page seems to have the answers:

https://www.gov.uk/vat-payment-deadlines

For example, to get the "date the money will be taken from your account", via Direct Debit, for the VAT period ending on Feb 2021:

https://www.gov.uk/vat-payment-deadlines/y/2021-02-28/direct-debit

---

Alternatively, I believe the calculation is:

"1 calendar month and 7 days after the end

[2021-06-07 09:54] lukaszszczygiel-sage commented on #856
This is unfortunate. Thanks for the response.

[2021-06-07 09:54] #856 closed

[2021-06-09 12:40] ArcComing2021 commented on #419
Under '' Retrieve obligations'' should all the Gov-Test-Scenario be tested? How do you select which scenario to test ? Do you test based on your stagger groups ? Thank you!

[2021-06-09 12:48] ArcComing2021 commented on #419
How do use those  Gov-Test-Scenario to test whether your application is working correctly?

[2021-06-24 08:55] AndyYouens opened #859 "Sandbox Down?"
getting

Sorry, we’re experiencing technical difficulties
Please try again in a few minutes.

Is this page not working properly? (opens in new tab)

[2021-06-24 09:10] hmrc-api-team commented on #859
Hi Andy,

Is this problem occurring whilst trying to access the documentation, or are you attempting to hit the API itself?

Kind regards,
MTD API Team

[2021-06-24 10:50] AndyYouens commented on #859
trying to test our security headers via the API

[2021-06-24 10:50] AndyYouens commented on #859
error from https://test-www.tax.service.gov.uk/api-test-login/sign-in

[2021-06-24 13:08] AndyYouens commented on #859
I tried again with another users details & it worked fine.

That is a misleading error page to show the user ID is invalid. :-(

[2021-07-06 11:05] Mark-Mason2021 opened #861 "Fraud Prevention Header Support group"
Is there a MTD developer support group?

I've noticed a lot of questions about MTD Fraud Headers which can't be answered here. Some of which can't be answered at all (IMHO). Does anyone no of a support group or forum where developers can discuss issues and possibly offer solutions?

[2021-07-16 21:35] greywidget opened #862 "redirect_uri is invalid"
I've been using my own CLI solution for mtd VAT since it came out, with a redirect uri of `urn:ietf:wg:oauth:2.0:oob` and it works fine.

I'm currently working on a Webserver based solution and I would like to redirect back to `http://localhost:8000/authorise` where I am currently running a Django Dev server during development.

On the Developer Hub I have defined a redirect uri of `http://localho

[2021-07-17 15:25] greywidget commented on #862
Sorry - User error... Too many Apps.

[2021-07-17 15:25] #862 closed

[2021-07-19 12:38] ys00065 commented on #671
How did you get the Gov-Client-Browser-Plugins using ajax please?

[2021-07-19 12:41] ys00065 opened #863 "How to get Gov-Client-Browser-Plugins for web application?"
# Support request

Used  Navigation (js) but this does not give all the plugins detail .e.g in chrome, you can see more extentions.
 var x = navigator.plugins

[2021-07-19 14:03] ys00065 commented on #852
Try with this date in sandbox.
Start Date: 1st April 2017
End Date: 30th June 2017

[2021-07-19 14:05] AndyYouens commented on #671
we used navigator.plugins

$(document).ready(function() {
      var len = navigator.plugins.length;
      // check if we have any plugins
      if (len < 1) {
        var qs = '' ;
      } else {
        var qs ="?p=";
        for (var i = 0; i < len; i++) {
          if (i == 0) {
            qs = qs + navigator.plugins[i].name;
          }else{
            qs = qs + "," + navigator.plugins[i].na

[2021-07-19 15:57] ys00065 commented on #671
Thank you Andy.

I know this is not the thread for 'Gov-Client-Local-IPs' but can you please let me know what did you do for this in web browser?

Thanks

[2021-07-19 15:58] ys00065 commented on #863
answered: https://github.com/hmrc/vat-api/issues/671

[2021-07-19 15:58] #863 closed

[2021-07-19 15:59] ys00065 commented on #487
did anyone manage to get ip addresses from web browser?

[2021-07-20 07:44] AndyYouens commented on #671
We did not have to supply the local IPs for our connection method.  Sorry, cannot help.

[2021-07-20 08:11] markogrady commented on #671
@ys00065 The only way you can get local IPs is to use WebRTC as far as I know. I think HMRC are being quite pragmatic about it and realise this is hard to get so may be it can't be supplied. I get the impression they are trying to gather as much data as possible to do finger printing incase there is something common and dodgy across multiple accounts for fraud that it can be identified and stopped

[2021-07-27 09:41] #671 closed

[2021-07-27 09:42] #859 closed

[2021-07-28 11:16] alanfinnharris opened #864 "503 Service Unavailable"
Hi, When we attempt to submit declarations via the API today we are getting the 503 Service Unavailable error, but the platform status page says the service is operational, anybody experiencing the same issue?
Thanks

[2021-09-02 10:36] #86 closed

[2021-09-02 10:37] hmrc-api-team commented on #86
Issue Closed due to age. If this is still relevant feel free to open a new one.

[2021-09-02 10:41] hmrc-api-team commented on #861
Hello, #565 is designed to allow for discussion around Fraud Headers that don't require HMRC support. Please feel free to continue any discussion there.

[2021-09-02 10:41] #861 closed

[2021-09-02 10:42] hmrc-api-team commented on #864
Hello alanfinnharris, I'm afraid we don't have the data available for this anymore, if you still are experiencing issues feel free to raise it with SDST and provide a detailed rundown of your issue.

[2021-09-02 10:42] #864 closed

[2021-09-02 10:47] hmrc-api-team commented on #592
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:47] #592 closed

[2021-09-02 10:47] hmrc-api-team commented on #599
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:47] #599 closed

[2021-09-02 10:47] hmrc-api-team commented on #658
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:47] #658 closed

[2021-09-02 10:48] hmrc-api-team commented on #669
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:48] #669 closed

[2021-09-02 10:48] hmrc-api-team commented on #672
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:48] #672 closed

[2021-09-02 10:48] hmrc-api-team commented on #674
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:48] #674 closed

[2021-09-02 10:49] hmrc-api-team commented on #684
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:49] #684 closed

[2021-09-02 10:49] hmrc-api-team commented on #687
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:49] #687 closed

[2021-09-02 10:50] hmrc-api-team commented on #690
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:50] #690 closed

[2021-09-02 10:50] hmrc-api-team commented on #693
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:50] #693 closed

[2021-09-02 10:50] hmrc-api-team commented on #695
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:50] #695 closed

[2021-09-02 10:51] hmrc-api-team commented on #697
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:51] #697 closed

[2021-09-02 10:51] hmrc-api-team commented on #701
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:51] #701 closed

[2021-09-02 10:52] hmrc-api-team commented on #713
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:52] #713 closed

[2021-09-02 10:52] hmrc-api-team commented on #723
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:52] #723 closed

[2021-09-02 10:53] hmrc-api-team commented on #729
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:53] #729 closed

[2021-09-02 10:53] hmrc-api-team commented on #730
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:53] #730 closed

[2021-09-02 10:53] hmrc-api-team commented on #768
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:53] #768 closed

[2021-09-02 10:53] hmrc-api-team commented on #774
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:53] #774 closed

[2021-09-02 10:54] hmrc-api-team commented on #781
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:54] #781 closed

[2021-09-02 10:55] hmrc-api-team commented on #789
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:55] #789 closed

[2021-09-02 10:56] hmrc-api-team commented on #790
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:56] #790 closed

[2021-09-02 10:56] hmrc-api-team commented on #796
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:56] #796 closed

[2021-09-02 10:56] hmrc-api-team commented on #797
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:56] #797 closed

[2021-09-02 10:56] hmrc-api-team commented on #801
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:56] #801 closed

[2021-09-02 10:57] hmrc-api-team commented on #802
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:57] #802 closed

[2021-09-02 10:57] hmrc-api-team commented on #807
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:57] #807 closed

[2021-09-02 10:57] nigelrainer opened #867 "Undocumented error received on API request"
Re-raising this issue as HMRC unilaterally closed item #658 without a satisfactory resolution.

We have had a number of further occurrences of getting back an HTML error rather than a JSON message with the content "Oops, an error occurred". This is an example:
<title>Error</title> <style> html, body, pre { margin: 0; padding: 0; font-family: Monaco, 'Lucida Console', monospace; background: #ECECEC

[2021-09-02 10:57] hmrc-api-team commented on #832
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:57] #832 closed

[2021-09-02 10:58] hmrc-api-team commented on #837
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:58] #837 closed

[2021-09-02 10:59] hmrc-api-team commented on #838
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 10:59] #838 closed

[2021-09-02 10:59] #784 closed

[2021-09-02 12:05] hmrc-api-team commented on #867
Hi @nigelrainer,

The issue was closed because, as mentioned [previously](https://github.com/hmrc/vat-api/issues/658#issuecomment-509581475), problems with authorisation are not within this team's control. This repository's issues are reserved for technical queries relating to the VAT-API only. With regards to documentation, our API documentation only includes errors which the VAT API service itse

[2021-09-02 12:23] hmrc-api-team commented on #842
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 12:23] #842 closed

[2021-09-02 12:23] hmrc-api-team commented on #848
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 12:23] #848 closed

[2021-09-02 12:23] hmrc-api-team commented on #852
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 12:23] #852 closed

[2021-09-02 12:24] hmrc-api-team commented on #854
Hello, we are closing this issue due to age. If you still have any persisting issues please feel free to open a new issue.

[2021-09-02 12:24] #854 closed

[2021-09-02 12:32] AndyYouens opened #868 "Negative Box 5 - Undefined Payment Indicator in Production"
if the amount due to HMRC in box 5 is negative, in the sandbox,a submission will return the payment indicator as Bank, where as in production the payment indicator is not return (therefore undefined)

can you get these environments to work in the same way, to give us developers a chance??

#690 - not resolved - Please fix

[2021-09-02 12:34] #867 closed

[2021-09-02 12:36] AndyYouens commented on #868
Can this be looked at instead of 'closing due to age'!

[2021-09-02 12:43] nigelrainer commented on #867
And SDST keep saying “A partner team is looking further into this”.  All I want is someone to acknowledge the issue, own it and tell me what is going on.  Basic “customer” service.

From: hmrc-api-team ***@***.***>
Sent: 02 September 2021 13:35
To: hmrc/vat-api ***@***.***>
Cc: Nigel Rainer ***@***.***>; Mention ***@***.***>
Subject: Re: [hmrc/vat-api] Undocumented error received on API request (#

[2021-09-02 13:39] Nboaram commented on #868
Hey Andy, thanks for re-opening the issue to let us know it's still current.

The value in netVatDue (box 5) must be positive. It works the same way as the old paper forms. It is the difference between **totalVatDue** (box 3) and **vatReclaimedCurrPeriod** (box 4).

If the figure in **totalVatDue** is more than the figure in **vatReclaimedCurrPeriod**, the difference is the amount you must pay. If

[2021-09-02 13:39] hmrc-api-team commented on #868
Hey Andy, thanks for re-opening the issue to let us know it's still current.

The value in netVatDue (box 5) must be positive. It works the same way as the old paper forms. It is the difference between **totalVatDue** (box 3) and **vatReclaimedCurrPeriod** (box 4).

If the figure in **totalVatDue** is more than the figure in **vatReclaimedCurrPeriod**, the difference is the amount you must pay. If

[2021-09-02 14:27] craigfrancis opened #869 "VAT Collection Date from returns API"
# Feature Request

**Note:** This is repeating the old, and now closed [Issue 842](https://github.com/hmrc/vat-api/issues/842).

**Is your feature request related to a problem? Please describe.**
With the old XML API, the `VATDeclarationResponse` would include the `CollectionDate`, so I could easily record when the VAT payment was going to be collected.

**Describe the solution you'd like**
The [n

[2021-09-02 15:05] craigfrancis commented on #565
Just to note my concern (again) "[Gov-Client-Multi-Factor](https://developer.service.hmrc.gov.uk/guides/fraud-prevention/connection-method/other-direct/#gov-client-multi-factor)", with TOTP, while the documentation says you should not use the original secret... you shouldn't use the time based codes either (salting can help, but the salt must be kept a secret at all times).

For details, a TOTP va

[2021-09-03 08:57] hmrc-api-team commented on #869
Thank you for your feedback, we will pass it on.

[2021-09-07 07:32] AndyYouens commented on #868
Thanks for the reply, and yes I understand the logic and have no problem with that.

My problem is if the amount due to HMRC in box 5 is negative, in the sandbox,a submission will return the payment indicator as Bank or DD , where as in production the payment indicator is not returned (therefore undefined).  Can it return NULL?

With it not being returned in production is not the same as the sandb

[2021-09-07 14:44] hmrc-api-team commented on #868
Hi Andy

The description of the payment indicator is

As an optional field, we would normally opt to always return it in the Sandbox to enable testing, as we couldn't cater for every scenario:
1. debit where HRMC hold direct debit instructions = `DD`
2. debit where HMRC doesn't = Not returned
3. credit where HMRC holds client bank data = `BANK`
4. credit where HMRC doesn't = Not returned

Addition

[2021-09-15 10:33] hmrc-api-team commented on #868
Our team considers this issue resolved. Please use git to raise any new issues.

[2021-09-15 10:33] #868 closed

[2021-09-15 10:34] hmrc-api-team commented on #869
Our team considers this issue resolved. Please use git to raise any new issues.

[2021-09-15 10:34] #869 closed

[2021-09-15 10:45] craigfrancis commented on #869
How do they consider this issue resolved?

Do they expect everyone to dig though the documentation to find this information, and hope that every implementation does not make a mistake with these date calculations?

[2021-09-15 13:31] hmrc-api-team commented on #869
Unfortunately, this API acts as an external interface through which users may interact with downstream government tax services. As such we are unable to surface any information other than that which we receive from those services, which does not currently include the data which you are requesting. We are able to relay your feedback to those responsible for the data which is surfaced back to us, bu

[2021-09-16 16:36] craigfrancis commented on #869
Please relay this feedback.

The old XML API did provide the `CollectionDate`, which is important from an accounting point of view (and only HMRC can reliably provide this).

[2021-09-24 13:52] h-edwards opened #872 "404 Error "code": "MATCHING_RESOURCE_NOT_FOUND""
Hi, I'm trying to POST test VAT data to the "/organisations/vat/{vrn}/returns" endpoint. I'm able to grant authorisation using a test organisation login, however after doing so the code I've created keeps returning: "code": "MATCHING_RESOURCE_NOT_FOUND" Anyone have an idea why? I've tried to adjust the headers but I keep getting back the same message. I'm wondering if HMRC enables us to POST data

[2021-09-24 14:58] hmrc-api-team commented on #872
Yes. This should work.
Can you share any more details of the url, request and response headers and payloads?

[2021-09-24 15:03] h-edwards commented on #872
Awesome! Here's the code I have so far:

var CLIENT_ID = 'thQadHpQDi52iVxxxxxxxxxxxxxx';
var CLIENT_SECRET = '702b5465-4a2b-xxxx-xxxx-xxxxxxxx';

// Authorizes and makes a request to the HMRC API //

function run() {
//getService().reset();
  var service = getService();
  if (service.hasAccess()) {
    var url = 'https://test-api.service.hmrc.gov.uk/organisations/vat/766434212/returns';
    var re

[2021-09-24 15:29] hmrc-api-team commented on #872
Hello @h-edwards,

Are you able to tell me what `message` the error is being returned with? If it matches `A resource with the name in the request can not be found in the API` then it is likely that our service cannot recognise the request which you are making. This usually happens when an incorrect HTTP method is used, or when the request uri differs from what is expected.

Kind regards,
MTD-API

[2021-09-24 15:36] h-edwards commented on #872
Hi @hmrc-api-team,

Yes the code returns this message:

Exception: Request failed for https://test-api.service.hmrc.gov.uk returned code 404. Truncated server response: {"code": "MATCHING_RESOURCE_NOT_FOUND", "message": "A resource with the name in the request can not be found in the API"} (use muteHttpExceptions option to examine full response)

[2021-09-24 15:44] hmrc-api-team commented on #872
From looking at our logs I can see that your requests are being sent to us with a HTTP method of GET instead of POST. If you are able to change the HTTP method of your requests to POST you should hopefully stop getting this error.

Kind regards,
MTD-API Team

[2021-09-24 16:03] h-edwards commented on #872
So simple, thanks for your help @hmrc-api-team ! I'll look into that :)

[2021-09-24 17:15] h-edwards commented on #872
Sorry I have one more question @hmrc-api-team, is Fraud prevention required with this API?

[2021-10-01 15:37] charles-f opened #873 "Sandbox: Submission 500 response when using organisation test user on Create test user service"
# Bug report

You must read the information below before you submit a bug report.

The MTD API team cannot help if your bug report is about:

- Fraud Prevention Headers
- Issues relating to OAuth2
- Subscribing or registering to use the API Platform, MTD enrolment, de-enrolment, registration for VAT, Beta services, etc.
- Issues integrating with the API Platform (e.g. setting up an application/acc

[2021-10-01 16:03] hmrc-api-team commented on #873
Hi @charles-f,

We are currently investigating an issue in the test environment which is causing VAT return submissions to fail with a 500 response for certain users. We will keep you updated here as we try to determine the cause and start working towards a solution. Apologies for the disruption.

Kind regards,
MTD API Team

[2021-10-04 09:05] charles-f commented on #873
Hi @hmrc-api-team,

Do you have any update on the investigation of this please?

Kind regards,
@charles-f

[2021-10-04 12:41] #872 closed

[2021-10-06 15:56] dhanajik commented on #873
@hmrc-api-team,

I am also facing the same issue. My code was absolutely tested on the test environment previously but since a couple of days getting below error while submitting returns

500 Internal Server Error: [{"code":"INTERNAL_SERVER_ERROR","message":"An internal server error occurred"}]

Please have a look into this on priority.

Thank you

[2021-10-08 06:07] Senthil-9111 opened #874 "Obligation period beyond 366 days"
# Support request
Dear Team

How would the following scenario be handled? a return to be submitted for a period beyond 366 days.
the recommendation is to query the obligation period before submission of the return and use the period key.
In this case the date range is beyond 366 days and the API call returns an error. This does not allow the submission of the return.

You must read the information

[2021-10-08 08:27] Bittarman opened #875 "CLIENT_OR_AGENT_NOT_AUTHORISED when requesting obligations as an agent"
# CLIENT_OR_AGENT_NOT_AUTHORISED when requesting obligations as an agent

When using the agent authorisation API, we are able to successfully invite an organisation and an individual created with the CreateUser api.

However, when we then try to use the agents credentials with the MTD-VAT api, we receive a CLIENT_OR_AGENT_NOT_AUTHORISED  error.

We have checked using the agent authorisation api th

[2021-10-11 10:14] KenRandall opened #876 "Production Authorising Software"
Hi,

We are getting a success message back and a an authorisation code but when try to convert it to an access token and refresh token we are getting the error back Requests to this endpoint cannot be made with data in query parameters."

We have not changed our software and this was always working before. As far as I am aware it has only started happening after the weekend.

Thanks,

Ken Randall

[2021-10-11 12:00] #876 closed, assigned to nobody

[2021-11-08 07:58] steveetm commented on #875
I don't know if it is related, but for a while we can successfully authenticate in sandbox environment with test users, getting access token properly, but after that every request, even fraud prevention header test api returns cloudfront error.

@hmrc-api-team can you please confirm if the sandbox env is broken right now, or it should work?

[2021-11-09 17:55] isham-iqbal commented on #678
Hi is this API production ready yet?

[2021-11-10 11:21] isham-iqbal opened #879 "UK VAT Number lookup API - Update On Production Release and Information On Throttling"
Hi dev team,

I found in [here](https://github.com/hmrc/vat-api/issues/678), that "On 1st December 2020 the Check a UK VAT Number API would be released into the live Production environment" however at [here](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-registered-companies-api/1.0), it is still stated as "beta". Could you kindly give an if this is in production alre

[2021-11-10 11:32] hmrc-api-team commented on #879
Hi @isham-iqbal,

The team which looks after the [VAT (MTD) API](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0) is not the team which looks after the [Check a UK VAT number API](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-registered-companies-api/1.0). Since they do not have a Support section in their documentation, I recommen

[2021-11-10 11:32] #879 closed

[2021-11-10 11:34] hmrc-api-team commented on #678
Hi @isham-iqbal,

The team which looks after the [VAT (MTD) API](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0) is not the team which looks after the [Check a UK VAT number API](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-registered-companies-api/1.0). Since they do not have a Support section in their documentation, I recommen

[2021-11-10 11:36] isham-iqbal commented on #879
Thank you so much @hmrc-api-team :
Really appreciate the prompt reply. Could you kindly assist me with a link in which I can understand the throttling mechnism?

Thanks

[2021-11-10 11:51] hmrc-api-team commented on #879
Hi @isham-iqbal,

Information on Rate Limiting can be found here: https://developer.service.hmrc.gov.uk/api-documentation/docs/reference-guide#rate-limiting

Kind regards

[2021-11-10 15:03] Benjamindyer commented on #875
Just echoing what others have said, the Sandbox environment is dead for us at the moment.

[2021-11-15 13:06] hmrc-api-team commented on #875
Hi all, apologies for the delayed response. The team responsible for creating Agent users are aware of this issue and we have been told that they will be working on a fix soon. We have done some preliminary investigation before raising the issue with them so hopefully that will expedite the process.

Since this is an issue that sits outside the code within the vat-api itself, we cannot comment on

[2021-11-15 14:01] hmrc-api-team commented on #873
Hi all, we have been informed that a fix has now been put in place. New Organisations that are generated should have the relevant user information, so the fact that Organisation users through the frontend are also generated with "mtd-income-tax" shouldn't be a problem anymore.

Since the fix was put into place for new Organisations, please regenerate an Organisation user for yourself to get a work

[2021-11-15 14:01] #873 closed

[2021-11-15 14:55] Bittarman commented on #875
Thanks for the update @hmrc-api-team

[2021-11-23 10:08] hmrc-api-team commented on #875
Hi @Bittarman, @Benjamindyer, @zmagyar, @steveetm,

Please could you try requesting Obligations as an Agent again? We have been advised that the team responsible has pushed a fix in for this last night.

Kind regards

[2021-11-25 10:21] hmrc-api-team commented on #875
Hi @Bittarman, @Benjamindyer, @zmagyar, @steveetm,

We have tested Agents in Sandbox ourselves and can see they are now working. If you require assistance setting up an Agent, please follow the [Guide](https://github.com/hmrc/vat-api/wiki/Creating-Test-Agents-in-the-Sandbox).

If you have any further questions, please leave them below. If you have followed the Guide above and still find that Agent

[2021-11-25 10:21] #875 closed

[2021-12-12 11:52] ddaddy opened #884 "VAT API is currently unavailable"
The VAT MTD API is returning Status `503`: `The 'organisations/vat' API is currently unavailable` all this morning.

I know there was half an hour of maintenance last night which shows as being completed, but maybe they forgot to switch something back on?

The platform status page is as useless as a chocolate teapot as it reports all systems are normal (And has done in the past when there have bee

[2021-12-13 07:36] KenRandall commented on #884
We were getting the same yesterday but ok this morning.

[2021-12-13 10:28] KenRandall commented on #884
Something needs to be seriously addressed with HMRC support at weekends!

[2021-12-13 10:58] DDCTLS-DEV-TEAM commented on #884
Good Morning,

Thank you for your comments. We, unfortunately, had a scenario with one of the backend services over the weekend that has continued onto today, where we needed to render the API unavailable.

The API currently is up and running however the backend services are still being looked at.

We apologies for any inconvenience caused.

[2021-12-13 11:33] ddaddy commented on #884
Why would the service status report that everything is Operational when it isn't?
It results in users of our app thinking it's a problem with us and blaming us.

Surely your service status should run it's own unit tests at regular intervals to monitor itself?

[2021-12-13 11:54] DDCTLS-DEV-TEAM commented on #884
Hello,

Unfortunately, we are not the team that deals with the status of the operational flag and is actually controlled by an external team. We can only react to what the service is doing. But the status page is directly controlled by the SDSTeam here is their email SDSTeam@hmrc.gov.uk. We don't have access to changing that flag, unfortunately.

Kind Regards

[2021-12-14 07:07] #884 closed

[2022-01-25 07:14] tianfengLiang opened #885 "error with https://api.service.hmrc.gov.uk/organisations/vat/{vatnum}/returns"
we use this api https://api.service.hmrc.gov.uk/organisations/vat/{vatnum}/returns with postman
{
  "periodKey": "21B3",
  "vatDueSales": -97.84,
  "vatDueAcquisitions": 0.00,
  "totalVatDue": -97.84,
  "vatReclaimedCurrPeriod": 0.00,
  "netVatDue": 97.84,
  "totalValueSalesExVAT": 185.00,
  "totalValuePurchasesExVAT": 0.00,
  "totalValueGoodsSuppliedExVAT": 0.00,
  "totalAcquisitionsExVAT": 0.00,

[2022-01-31 11:31] DDCTLS-DEV-TEAM commented on #885
Hello there, sorry for the delayed response. We have looked into the code and ran unit tests locally and  on Ext test Environment using POSTman. With the data you provided, it absolutely works fine and no error is reported. We are unable to recreate the defect with the data you provided. Please can you verify once again and let us know if the data you provided is indeed the same one which is retur

[2022-01-31 11:39] tianfengLiang commented on #885
It is normal in the test environment, but it is wrong in the formal environment，I don't know why. That's why I asked you. thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "hmrc/vat-api"

[2022-01-31 11:40] DDCTLS-DEV-TEAM commented on #885
I believe you are referring to External test ENV when you said test environment? Also formal environment meant local one?

[2022-01-31 11:45] tianfengLiang commented on #885
I say formal environment meat&nbsp;https://api.service.hmrc.gov.uk/organisations/vat/ ;&nbsp;
the test ENV mean&nbsp;https://test-api.service.hmrc.gov.uk/organisations/vat/；
the problem in&nbsp;formal environment；

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "hmrc/va

[2022-01-31 12:04] DDCTLS-DEV-TEAM commented on #885
This is interesting. Can you please send your VRN to this email SDSTeam@hmrc.gov.uk with a link to this github issue? This is a secure way for us to get your VRN and to check our monitoring systems outside please. Thank you in advance

[2022-01-31 12:21] tianfengLiang commented on #885
thinks，It has been sent. Please check it

[2022-01-31 12:23] DDCTLS-DEV-TEAM commented on #885
Thanks. We will get back you to you ASAP.

[2022-02-02 15:29] DDCTLS-DEV-TEAM commented on #885
Good News, we have deployed some Auditing stuff into VAT API backend service. We can now see what the user is actually trying to do. Please can you submit the same request for the user in question and let us know once done. Thanks in advance

[2022-02-03 11:43] tianfengLiang commented on #885
We can't try again for some reasons. When we encounter problems next time, we will give feedback. thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "hmrc/vat-api"                                                                                    ***@***.***&gt;;

[2022-02-04 12:30] charles-f opened #887 "500 response on submission API"
API

**Describe the bug**
Hi - we're seeing a few 500 responses on the submission API, but the submission is actually going through as the obligation itself becomes fulfilled with a received date that matches the submission date. However since the API for the submission returned 500 - we don't have the receipt and correlation id for that submission.

**To Reproduce**
This is intermittent - but it'

[2022-02-07 10:06] DDCTLS-DEV-TEAM commented on #885
Thank you for your time. We will close the issue. Please raise another issue if it persists and we can help you.

Kind regards

[2022-02-07 10:08] DDCTLS-DEV-TEAM commented on #887
Good Morning @charles-f
Thank you for raising this one. Do you have the error ID? and We can take a look and see if we can de-bug this one for you. The intermittent part is the difficult part but we will try and find a solution.
Kind Regards

[2022-02-07 10:10] #885 closed

[2022-02-08 10:25] charles-f commented on #887
Good morning @DDCTLS-DEV-TEAM

the response on the API received was this. Which is an error ID - This exception has been logged with id **7mgib5j5i**

<!DOCTYPE html> <html lang="en"> <head> <title>Error</title> <style type="text/css"> html, body, pre { margin: 0; padding: 0; font-family: Monaco, 'Lucida Console', monospace; background: #ECECEC; } h1 { margin: 0; background: #A31012; padding: 20px

[2022-02-18 19:34] leoriviera opened #890 "Testing Sandbox Appears to Ignore Query Parameters when Getting Obligations"
# Bug report

You must read the information below before you submit a bug report.

The MTD API team cannot help if your bug report is about:

- Fraud Prevention Headers
- Issues relating to OAuth2
- Subscribing or registering to use the API Platform, MTD enrolment, de-enrolment, registration for VAT, Beta services, etc.
- Issues integrating with the API Platform (e.g. setting up an application/acc

[2022-02-24 14:42] aeverest commented on #887
Hi, any update please? Thanks.

[2022-02-24 14:47] DDCTLS-DEV-TEAM commented on #887
Hi, we have provided all the information requested by DES Live Support team. They came back and asked if the VAT Regs we provided are right. We have confirmed they were correct. We are still waiting in the response from them.

[2022-02-24 16:29] DDCTLS-DEV-TEAM commented on #887
Hi, we have provided all the information requested by DES Live Support team. They came back and asked if the VAT Regs we provided are right. We have confirmed they were correct. We are still waiting in the response from them.
Will update when we get back response from DES Live Support team.

Thanks & Regards
Mohan Dolla
Scala Developer
DDCLS Telford

[2022-03-16 09:41] DDCTLS-DEV-TEAM commented on #890
Hello @leoriviera

Apologies we haven't gotten back to you on this one. The external test environment uses stub data so it will only ever return the same data and dates.

We have checked production events and the call works as needed.

Thank you again.

[2022-03-16 09:42] #890 closed

[2022-03-24 15:28] aeverest commented on #887
Hi, any update please? Thanks.

[2022-03-24 15:30] DDCTLS-DEV-TEAM commented on #887
Hello there,
We haven’t heard anything from DES Support. We will ping them again and let them know we are waiting for their response.

Thanks & Regards
Mohan
Scala Developer
DDCLS, Telford

[2022-04-21 11:53] charles-f commented on #887
Hi, Any further updates - it's now been a while and we're keen to get some constructive feedback. And we're approaching a new submission window where I think it will happen again.

We've seen this on pretty much every quarterly filing window - 500 http code responses on submission - though I don't know if they are all the same.

In 2022 alone - I've seen 14 submission failures with 500 http code r

[2022-04-29 18:41] LukeHirst opened #893 "Test API service: INTERNAL_SERVER_ERROR"
# Bug report

You must read the information below before you submit a bug report.

The MTD API team cannot help if your bug report is about:

- Fraud Prevention Headers
- Issues relating to OAuth2
- Subscribing or registering to use the API Platform, MTD enrolment, de-enrolment, registration for VAT, Beta services, etc.
- Issues integrating with the API Platform (e.g. setting up an application/acc

[2022-04-29 18:54] LukeHirst commented on #893
I have looked through the closed issues and seen this post:

/issues/873

I therefore tried to do a submission with an organisation created from the following URL:

[https://developer.service.hmrc.gov.uk/api-test-user]

I still get internal server error (endpoint, request body and response are below):

https://test-api.service.hmrc.gov.uk/organisations/vat/722605949/returns

{"periodKey":"18A2","v

[2022-05-09 07:43] charles-f commented on #887
With the new deadline now passed, we did see 12 more occurrences of 500 responses on submissions.
* 8 on 3rd May
* 3 on 4th May
* 1 on 6th May

that's 12 attempts across 5 different VRNs. Any update on this situation because it's only happening more and more.

[2022-05-09 07:51] DDCTLS-DEV-TEAM commented on #887
Good morning Charles F,

Hope you are well.

We are still waiting for a response for DES for support on these errors.
Unfortunately, we dont have any visibility of DES or the code involved so
we are reliant on their input.

Here is the second email to DES:

*Hello there,*
*We have sent you an email some time in the first week of Feb,2022 to
investigate this issue and let us know possible ways to p

[2022-05-11 06:37] DDCTLS-DEV-TEAM commented on #893
Good Morning @LukeHirst

Apologies for the late reply on this one.
We would be more than happy to help get to the bottom of this one.
We have had a look at the errors in the sandbox environment and it looks like the only ones we are getting are Unauthorised insufficient enrolments or unsupported enrolments.

We have created a user with mtd-vat only and used your JSON above and it looks like it wor

[2022-05-11 09:06] LukeHirst commented on #893
@DDCTLS-DEV-TEAM

It is still returning error 500, below is the correlationId which should unique to the request:

CorrelationId = d19a7cea-cf61-438b-b8fb-adfcd0693b46

Would this be good enough to track it?

[2022-05-11 09:43] peckover commented on #893
Good morning Luke,

The correlationId was helpful, thank you. We have just pushed out a change that will hopefully solve your issue. Could try again and see if the issue is resolved please?

Cheers,
Johnny
DDCTLS Team

[2022-05-11 10:08] LukeHirst commented on #893
@DDCTLS-DEV-TEAM  Hello Johnny,

I am still get the error 500, correlation ID as below:

a8de603a-28c0-46ee-ab97-126322ff45a5

Is this fix conditional on creating a new organisation or something?

[2022-05-11 10:23] peckover commented on #893
Hi Luke
Thank you for the quick reply. We think we have identified a separate issue. We are working on this as a priority and will update when a new fix is out.
Cheers
Johnny
DDCTLS Team

[2022-05-12 11:36] bcroston commented on #893
I'm also having exactly the same problem with a 500 error when submitting a return to the sandbox.

[2022-05-13 06:11] DDCTLS-DEV-TEAM commented on #893
Good Morning @LukeHirst and @bcroston,

We have implemented a change that should fix the issue.
Can you please try again and update us.

Thank you in advance.

DDCTLS Team

[2022-05-13 06:35] DDCTLS-DEV-TEAM commented on #893
Hi All,
We have applied the fix on External Test environment. Please try now and let us now if the request is successful.

Thanks & Regards
Mohan

[2022-05-13 08:29] bcroston commented on #893
I'm still getting the same 500 error

[2022-05-13 08:39] rajanimohan22 commented on #893
@bcroston Please can you provide correlation-id or VRN ?

[2022-05-13 08:42] DDCTLS-DEV-TEAM commented on #893
@bcroston Can you please provide correlation-id or VRN ?

[2022-05-13 08:45] bcroston commented on #893
VRN ix 646015553
It's giving me a 500 error before I get a correlation-id

[2022-05-13 09:23] DDCTLS-DEV-TEAM commented on #893
Hello @bcroston
Looking at the logs you are getting a 500 response when authenticating. This is most likely why you don't get to the correlation-id part of the vat-API service.

Can you confirm how you're setting up a user please and whether this has worked for you in the past?

Thank you in advance
DDCTLS Team

[2022-05-13 09:32] bcroston commented on #893
I created the test user a long time ago (1 year plus) and can't remember doing it.  I will create a new test user using the API and see what happens.

[2022-05-13 09:33] DDCTLS-DEV-TEAM commented on #893
@bcroston thank you

[2022-05-13 10:51] bcroston commented on #893
A new test user has fixed the problem for me.

[2022-05-13 10:58] DDCTLS-DEV-TEAM commented on #893
@bcroston Happy to hear it.
Thank you for reaching out to us.

@LukeHirst do you have an update on your side?

Thank you in advance
DDCTLS Team

[2022-05-13 11:01] DDCTLS-DEV-TEAM commented on #893
@LukeHirst Can you please test once again and check if it works for you this time?

[2022-05-13 11:39] LukeHirst commented on #893
@DDCTLS-DEV-TEAM I have regenerated my user from both website and my own test program but still get internal server error, correlation ID as below:

624f2da2-4ccd-48be-a1f7-d9245598dad2

[2022-05-13 12:13] DDCTLS-DEV-TEAM commented on #893
Hello @LukeHirst ,

Can you tell us the headers you are using please?

Thank you

[2022-05-13 14:45] LukeHirst commented on #893
@DDCTLS-DEV-TEAM

I am using the following URL:

https://test-api.service.hmrc.gov.uk/organisations/vat/589531983/returns

Headers:
- Authorization = Bearer <<validtoken>>
- Accept = {application/vnd.hmrc.1.0+json}
- Gov-Test-Scenario = ""

I am also sending fraud prevention headers however I am not sure if it's relevant to list them as we don't usually get a response about them on this github

[2022-05-13 14:47] LukeHirst commented on #893
@DDCTLS-DEV-TEAM

I have managed to submit a return successfully by removing the blank Gov-Test-Scenario header. This used to work previously with an empty string but now needs to be omitted if there is no value

[2022-05-13 14:49] DDCTLS-DEV-TEAM commented on #893
@LukeHirst
Perfect we were about to suggest "-" on the Gov-Test-Scenario header.
If you would like to try that as well that would work too. (Or should)
If you are happy we will close the issue?
Thank you.
DDCTLS Team

[2022-05-13 15:07] LukeHirst commented on #893
Yes I have closed this issue

[2022-05-13 15:08] #893 closed

[2022-05-15 10:46] henriwoodcock opened #894 "Incorrect response, client_id is required when requesting authorisation code"
When requesting the authorisation code using the url of format:

https://test-www.tax.service.gov.uk/oauth/authorize?response_type=code&client_id=[my-client-id]&scope=hello&redirect_uri=http%3A%2F%2localhost%3A3000%2Fsuccess

I keep getting the error response
[code]

I know client_id is present as I can see it in the url, but this response makes it hard to debug as it is incorrect and does not inf

[2022-05-16 13:46] DDCTLS-DEV-TEAM commented on #894
It looks like the error is being produced by the **Oauth** service. The Oauth service contacts third-party-application which tries to match the correct credentials. It needs client_id , client_secret and totp code. Third-party-application sends error back to Oauth service when the creds fail. But Oauth sends back “client_id is required” to the user as error description. This does not mean that the

[2022-06-06 07:35] #894 closed

[2022-07-06 09:34] charles-f commented on #887
Hi any update - this still continues to happen.

[2022-07-06 09:58] DDCTLS-DEV-TEAM commented on #887
Hello there,
Please can you take sometime to address this issue. We have been chased by Support teams to resolve this issue since Feb, 2022.
We surely need a fix for this.

[2022-07-23 01:38] glenrobson commented on #890
It would be really useful if the sandbox respected the query parameters `from` and `to`. It is unclear from the [documentation](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-api/1.0#Retrieve%20VAT%20obligations) whether the matching on dates is inclusive of the start and end dates provided or if you need to take a day off the start and add one to the end to match the

[2022-08-03 15:08] nickgabb commented on #876
I have just wasted 2 hours trying to resolve getting a New token using Delphi 11
Finally reverted to Delphi 10.2 and problem gone FOR NOW
"Requests to this endpoint cannot be made with data in query parameters."
Has this been resolved?
Or do I carry on sharpening the razor blade for my wrists!!!

[2022-08-03 15:33] KenRandall commented on #876
There is a bug in Delphi 11 to do with HTTP Requests. I had a quick look on the quality portal but can't seem to find it.

[2022-08-03 16:43] nickgabb commented on #876
Nor can I !

Regards

Nick

***@***.***

From: KenRandall ***@***.***>
Sent: 03 August 2022 16:34
To: hmrc/vat-api ***@***.***>
Cc: Nick Gabb ***@***.***>; Comment ***@***.***>
Subject: Re: [hmrc/vat-api] Production Authorising Software (#876)

There is a bug in Delphi 11 to do with HTTP Requests. I had a quick look on the quality portal but can't seem to find it.

—
Reply to this email directly,

[2022-08-04 14:25] karolskrobot opened #904 "Following a VAT Return submission POST (box 5 non-zero), subsequent Liabilities calls return 404"
- [x] API

**Describe the bug**
Following a successful submission of a VAT Return, which has a box 5 negative or positive value, the subsequent liabilities call after that returns 404.

**Example requests:**

**1. Submission call (POST)**
**URL:** https://api.service.hmrc.gov.uk/organisations/vat/REDACTED/returns
**Request body:** {"periodKey":"22C2","vatDueSales":5259.47,"vatDueAcquisitions":0.0,

[2022-08-05 06:28] DDCTLS-DEV-TEAM commented on #904
Good Morning @karolskrobot

Thank you for reaching out.
We are looking into this issue and have reached out to the relevant teams. Could you please forward an email to the SDS team with the information that is redacted in it? (if you haven't done already) This will help out with the investigation.

As for your question about us returning the HTML in the error. That is something we can look into an

[2022-08-08 08:02] charles-f commented on #887
Hi this is still happening a lot.

In the July August filing period - we've had 103 of these 500 responses on the submissions.

Surely this is a serious enough bug for you to prioritise?

[2022-08-08 08:21] DDCTLS-DEV-TEAM commented on #887
Hello @charles-f

For us as a team it is our priority and to be honest, we are feeling your frustration too. We have had to escalate this and we now have a meeting booked for tomorrow with the team that owns the data (Unfortunately that's not us).

We are hoping we will have something tangible tomorrow for you or at least an update on what the plan is.
We apologize for the inconvenience this is ca

[2022-08-08 08:23] charles-f commented on #887
thanks @DDCTLS-DEV-TEAM appreciate the update.

[2022-08-09 15:45] charles-f commented on #887
hi @DDCTLS-DEV-TEAM can you please let us know the update from today's meeting please

thanks

[2022-08-10 08:56] DDCTLS-DEV-TEAM commented on #887
@charles-f Good morning,

The outcome of the meeting was that the backend systems have acknowledged there is an issue.
They think that the backend system that they hit, doesn't update in time. They pull the period key from the backend which doesn't give a response in time, and they send us the error. However, the backend then sends them the correct response it just doesn't come in time.

So if you

[2022-08-11 11:10] aeverest commented on #887
Great to hear that there is recognition of a source of this, looking forward to a solution :-)

[2022-08-12 11:33] LH200 commented on #887
Hello,

Is there an ETA on when a fix will be applied for this?

We have had reports of this issue on the latest batch of returns.

A quick fix to ensure that the submission is not posted to HMRC would be preferable in the short term.

At the moment our system will state the submission hasn't worked because we expect a JSON response and not html:

----------------------
<!DOCTYPE html> <html lang=

[2022-08-12 11:49] charles-f commented on #887
@LH200 thanks we have the exact same issue, and if you even attempt to resubmit then you get the rejection for duplicate submission also. Agreed I would prefer if the submission in fact doesn't happen as a result of this 500. And therefore a resubmission would be allowed.

This has now affected 121 of submissions in my product since June.

We're having to explain to users that it's an issue with H

[2022-08-12 13:11] DDCTLS-DEV-TEAM commented on #887
@charles-f thank you for the update can you please send the VRN you used for that submission please to the SDS team and link in this Github issue they will forward it to us then thank you. Hopefully, the other teams then will have something to follow on with.

@LH200 unfortunately there isnt an ETA on this yet as the downstream services are still discussing the issue. The vat-api service and this

[2022-08-15 16:25] adrianb1612 opened #913 "Missing Authentication - HMRC error code 401"
Using Microsoft Axapta 2012 R3 for VAT MTD.  For Q2 2022 - 01/04/2022-30/06/2022 I am unable to create an obligation in the AX 2012 system and therefore not submit my VAT return for the quarter which is now overdue.  Despite numerous attempts to re-authorise and obtain new access codes to update the access token, we always receive error code 401 - Missing credentials - authentication information i

[2022-08-16 14:03] DDCTLS-DEV-TEAM commented on #913
hello @adrianb1612

Thank you for reaching out to us. If you could can you please delete the file from the issue you have raised as it has your client id etc and anyone can access these issues?

If you could please follow this testing documentation that should give you everything you need to test the API https://developer.service.hmrc.gov.uk/api-documentation/docs/testing

If you still struggle to

[2022-08-23 13:26] tuckerkhan opened #916 "Invalid period key -VAT submission"
Hi,

We're trying to submit our data online and this period it is failing with error code 400 Bad request, PERIOD_KEY_INVALID code and message of "Invalid period key" but the period key is the same format as we always use of month and date.

This is the response from our submission:
  },
  "Response": {
    "Error": {
      "code": "400",
      "name": "BadRequest",
      "description": "Bad Reque

[2022-08-24 14:42] tuckerkhan commented on #916
we believe we found the issue. HMRC migrated us from a old back end to their new main frame on the same day we created the period and we picked up the old main frame key. Change the NAV period key in code and sent to HMRC again and it worked it out.

[2022-08-24 14:45] #916 closed

[2022-08-30 08:23] #913 closed

[2022-09-26 09:25] steve-james-xero opened #935 "Inconsistent VAT obligations in Sandbox environment"
# Bug report

You must read the information below before you submit a bug report.

The MTD API team cannot help if your bug report is about:

- Fraud Prevention Headers
- Issues relating to OAuth2
- Subscribing or registering to use the API Platform, MTD enrolment, de-enrolment, registration for VAT, Beta services, etc.
- Issues integrating with the API Platform (e.g. setting up an application/acc

[2022-09-26 18:33] DDCTLS-DEV-TEAM commented on #935
Hello @steve-james-xero

Thank you for reaching out. I can understand the confusion, external test is actually stubbed data so no matter what you call the two endpoints it will return the same data as per the API documentation.

So the responses are correct and actually represent two different calls and two different stub data returns. Unfortunately, this is something we inherited and something to

[2022-09-27 07:53] steve-james-xero commented on #935
Hi DDCT team

Thanks for your response. Yes, I understand that your test environment returns canned data that doesn't change. However, I would make the point that the data returned should still "make sense" and be not be self contradictory.

Specifically, a period should not be simultaneously both Open and Fulfilled, and a request for fulfilled obligations should not return any open obligations.

[2022-10-07 07:00] DDCTLS-DEV-TEAM commented on #887
Good Morning @charles-f
Thank you for the update and thank you for pushing things on your side. We are doing the same. We have had an increase in this issue and we are sending example VRNs every week to try and push this through. As you can imagine the downstream teams are very busy but I'm hoping this can be solved sooner rather than later. We will keep you updated as soon as we get anything.

In

[2022-10-07 07:05] #935 closed

[2022-10-07 13:41] DDCTLS-DEV-TEAM commented on #887
Good afternoon @charles-f
There's some confusion around the VRNs provided by your teammate. Could you provide the example VRNs to the SDS team please so we can proceed with the investigation with certainty? Submission timestamps would also be helpful if possible.

Kind regards
DDCT Team

[2022-10-20 07:59] flavio1110 opened #947 "Timeout configuration"
# Support request

Hi all,

We are integrating with VAT API and would like to define a default timeout for our requests to prevent them from hanging forever if something goes wrong on your end.

I didn't find any information about the SLA of the live API, and I believe I can't assume it has the same performance as the Sandbox, which is pretty fast.

Do you have any recommendations for such a confi

[2022-10-21 07:32] DDCTLS-DEV-TEAM commented on #947
Good Morning @flavio1110

Hope you are well and thank you for reaching out.

Our standard request timeout is 20 seconds.

Hopefully, this helps if you need any more information please let us know.

Kind Regards
DDCT LS Dev Team

[2022-10-21 07:46] flavio1110 commented on #947
Perfect. Thank you for the quick reply.

[2022-10-21 07:46] #947 closed

[2022-10-21 07:48] steve-james-xero commented on #935
Hi @scott-goodwin @DDCTLS-DEV-TEAM

Could you provide an explanation as to why this ticket has been closed, please? As of yesterday, the endpoint was still returning that same inconsistent data.

I made a similar comment here a couple of weeks ago but it looks to have been deleted.

A response would be appreciated.

Thanks.

[2022-10-21 08:31] DDCTLS-DEV-TEAM commented on #935
Hello @steve-james-xero

Thank you for reaching out.
Apologies for the miss understanding.

In terms of the dates and the period key issue, we have spoken to various teams about the reason this was implemented like this and the overall outcome was not to change it. This is because (though confusing) the data is just stub data and the data is independent of each other.

The first call: https://test